<template>
  <div id="AllFiles">
    <p class="uk-text-center mainTitle">Files</p>
    <router-link v-if="ConversationID" :to="{ name: 'Conversation', params: { id: ConversationID }}" class="menuIcon2">
      <span class="uk-margin-small-right" uk-icon="icon: comments; ratio: 1"></span>
      Back to the conversation
    </router-link>
    <div id="searchBar" class="uk-inline btnDefault">
            <span class="uk-form-icon" uk-icon="icon: search"></span>
            <input id="tags" class="uk-input" type="text" v-model="selected" placeholder="search a file..." @keyup="filteredFiles = [], searchFilter()" >
        </div>
    <p class="uk-text-center">Filter</p>
    <button id="btnDocs" class="uk-flex-middle uk-button btnPrimary uk-width-1-2" @click="checkFilter('doc')">Documents</button>
    <button id="btnPics" class="uk-flex-middle uk-button btnPrimary uk-width-1-2" @click="checkFilter('pic')">Pictures</button>
    <p v-if="Files.length == 0" class="uk-text-center">There are no files in this conversation</p>
  <ul v-if="Files && (selected === '' || selected === null)" class="uk-grid-small uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-6@l uk-text-center listInline" uk-sortable="handle: .uk-card" uk-grid>
    <li v-for="file in Files" :key="file.Name" 
    v-if="(file.File.Type !== 'img' && filterDocs)
    || (file.File.Type === 'img' && filterPics)">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../assets/Files/excel.png" v-if="file.File.Type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                        <img src="../assets/Files/ppt.png" v-if="file.File.Type === 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
                            || file.File.Type === 'application/vnd.ms-powerpoint'">
                        <img src="../assets/Files/pdf.png" v-if="file.File.Type === 'application/pdf'">
                        <img src="../assets/Files/word.png" v-if="file.File.Type === 'application/msword'
                            || file.File.Type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                        <img src="../assets/Files/text.png" v-if="file.File.Type === 'text/plain'">
                        <img v-bind:src="file.File.URL" v-if="file.File.Type === 'img'">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="cardTitle">{{file.File.Name}}</h3>
                        <p v-if="file.User"><strong>Uploaded by:</strong><br> {{ file.User.Firstname }} {{ file.User.Lastname }}</p>
                        <p v-if="file.User"><strong>Date:</strong><br> {{ moment(file.Timestamp).format('MMMM Do YYYY, HH[h]mm') }}</p>
                        <p v-if="file.User"><strong>Size:</strong><br> {{ getSize(file.File.Size) }}</p>
                        <a v-bind:href="file.File.URL" v-bind:download="file.File.Name">
                            <span uk-icon="icon: cloud-download"></span> Download</a>
                    </div>
                </div>
    </li>
  </ul>
   <ul v-if="selected !== null && selected !== ''  && filteredFiles" class="uk-grid-small uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-6@l uk-text-center listInline" uk-sortable="handle: .uk-card" uk-grid>
    <li v-for="file in filteredFiles" :key="file.Name" 
    v-if="(file.File.Type !== 'img' && filterDocs) 
    || (file.File.Type === 'img' && filterPics)">
        <div class="uk-child-width-1-1@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../assets/Files/excel.png" v-if="file.File.Type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                        <img src="../assets/Files/ppt.png" v-if="file.File.Type === 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
                            || file.File.Type === 'application/vnd.ms-powerpoint'">
                        <img src="../assets/Files/pdf.png" v-if="file.File.Type === 'application/pdf'">
                        <img src="../assets/Files/word.png" v-if="file.File.Type === 'application/msword'
                            || file.File.Type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                        <img src="../assets/Files/text.png" v-if="file.File.Type === 'text/plain'">
                        <img v-bind:src="file.File.URL" v-if="file.File.Type === 'img'">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="cardTitle">{{file.File.Name}}</h3>
                        <p v-if="file.User"><strong>Uploaded by:</strong><br> {{ file.User.Firstname }} {{ file.User.Lastname }}</p>
                        <p v-if="file.User"><strong>Date:</strong><br> {{ moment(file.Timestamp).format('MMMM Do YYYY, HH[h]mm') }}</p>
                        <p v-if="file.User"><strong>Size:</strong><br> {{ getSize(file.File.Size) }}</p>
                        <a v-bind:href="file.File.URL" v-bind:download="file.File.Name">
                            <span uk-icon="icon: cloud-download"></span> Download</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
  </ul>
</div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

require('webpack-jquery-ui');

export default {
  name: 'AllFiles',
  data () {
    return {
      User: null,
      Conv: null,
      Files: [],
      ConversationID: null,
      filterDocs: true,
      filterPics: true,
      selected: null,
      filteredFiles: [] 
    }
  },
  components: {
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.ConversationID = self.$route.params.id
        if(self.$route.params.filter == "docs"){
            self.filterDocs = true;
            self.filterPics = false;
            $("#btnDocs").removeClass('btnDefault').addClass('btnPrimary')
            $("#btnPics").removeClass('btnPrimary').addClass('btnDefault')
        } else if(self.$route.params.filter == "pics"){
            self.filterDocs = false;
            self.filterPics = true;
            $("#btnDocs").removeClass('btnPrimary').addClass('btnDefault')
            $("#btnPics").removeClass('btnDefault').addClass('btnPrimary')
        }
        self.GetConversations()
        self.checkFilter()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
  moment: function (day) {
    return moment(day);
  },
  GetConversations() {
      var self = this
      db.collection("conversations")
      .doc(self.ConversationID)
      .onSnapshot(function(doc) {
        self.Conv = doc.data()
        var mes = self.Conv.Messages
        mes.forEach(function(element){
          if(element.File.Type !== "" && !element.SharedCon && !element.SharedEvent){
            self.Files.push(element)
          }
        })
        var usr = self.Files
        usr.forEach(function(element){
            self.GetUser(element.UserID).then(function(result){
              element.User = result
            })
          })
      })
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    checkFilter(param) {
        var self = this
        if(param == 'doc') {
            if(self.filterDocs) {
                self.filterDocs = false
                $("#btnDocs").removeClass('btnPrimary').addClass('btnDefault')
            } else {
                self.filterDocs = true
                $("#btnDocs").removeClass('btnDefault').addClass('btnPrimary')
            }
        } else if (param == 'pic') {
            if(self.filterPics) {
                self.filterPics = false
                $("#btnPics").removeClass('btnPrimary').addClass('btnDefault')
            } else {
                self.filterPics = true
                $("#btnPics").removeClass('btnDefault').addClass('btnPrimary')
            }
        }
        
        console.log("checked")
    },
    searchFilter() {
        console.log("filtered")
        var self = this
        var input = self.selected.toLowerCase()
        var files = self.Files
        files.forEach(function(element){
            var el = element.File.Name.toLowerCase()
            if(el.indexOf(input) !== -1){
                self.filteredFiles.push(element)
            }
        })

    },
    getSize(size){
        var self = this
        var realSize = null
        if(size<1024){
            realSize = size + 'B'
        } else if(size > 1024 && size < 1048576){
            realSize = Math.round(size/1024) + 'KB'
        } else if(size > 1048576){
            realSize = Math.round(size/1048576) + 'MB'
        }
        return realSize
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.menuIcon2 {
  position: fixed;
  top: 4%; right: 2%;
  color: #6078ea;
  z-index: 1;
}
.listInline > li {
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 640px) {
    .cardTitle {
        font-size: 16pt;
    }
    .uk-card-body > p {
        font-size: 10pt;
        margin-top: 10px;
    }

    .uk-card-body > a {
        margin-top: 10px;
    }
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.btnPrimary {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#btnDocs, #btnPics {
    width: 49%
}
#btnDocs {
    margin-left: 2px;
}
#searchBar {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}
.mainTitle {
  color: #3498db;
}
</style>
