<template>
  <div id=">Calendar">
    <p class="uk-text-center mainTitle">Calendar</p>
    <div class="container" v-if="Profile && Events">
  <div class="bottom-view">
    <div class="week-container">
      <h4 class="uk-text-center">Today is {{ moment().format('MMMM Do YYYY') }}</h4>
      <p class="uk-text-center">Here is your planning</p>
    </div>

    <p class="uk-text-center">Filter</p>
    <button id="btnToday" class="uk-flex-middle uk-button btnPrimary" @click="filter='today', checkFilter()">Today</button>
    <button id="btnWeek" class="uk-flex-middle uk-button btnDefault" @click="filter='week', checkFilter()">Week</button>
    <button id="btnMonth" class="uk-flex-middle uk-button btnDefault" @click="filter='month', checkFilter()">Month</button>
    <div class="entry-container">

    <div v-if="Events">
        <div v-for="event in Events" :key="event.Id" v-if="
        Events
        && (filter === 'today' && moment(event.StartTimestamp).isBetween(Starts.startDay, Starts.endDay)) 
        || (filter === 'week' && moment(event.StartTimestamp).isBetween(Starts.startWeek, Starts.endWeek)) 
        || (filter === 'month' && moment(event.StartTimestamp).isBetween(Starts.startMonth, Starts.endMonth)) 
        || filter === 'none'">
          <div class="line">
            <router-link :to="{ name: 'Event', params: { id: event.ID }}" class="conTitle">{{ event.Name }}</router-link>
            <div class="bottomMargin">
              <p class="lastMessage">Starts: {{ getDate(event.StartTimestamp) }}</p>
              <p class="lastMessage lastTime">
                <span v-if="!moment(event.EndTimestamp).isBefore(moment()) && event.UserStatus === 1" class="uk-label uk-label-primary">Created by you</span>
                <span v-if="!moment(event.EndTimestamp).isBefore(moment()) && event.UserStatus === 2" class="uk-label uk-label-danger">Invited</span>
                <span v-if="!moment(event.EndTimestamp).isBefore(moment()) && event.UserStatus === 3" class="uk-label uk-label-success">Going</span>
                <span v-if="!moment(event.EndTimestamp).isBefore(moment()) && event.UserStatus === 4" class="uk-label uk-label-warning">Maybe</span>
                <span v-if="moment(event.EndTimestamp).isBefore(moment())" disabled>Event has ended</span>
              </p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
      <p class="uk-text-center">Do you want to add an event?</p>
    <button class="uk-button btnDefault uk-button-large createBtn" @click="GoToPage('CreateEvent')">Add an event</button>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

export default {
  name: 'Calendar',
  data () {
    return {
      Events: [],
      User: null,
      CurrentMonth: moment().format('MMMM'),
      Profile: null,
      filter: 'today',
      Starts: {
        startDay: moment().startOf('day'),
        endDay: moment().endOf('day'),
        startWeek: moment().startOf('isoweek'),
        endWeek: moment().endOf('isoweek'),
        startMonth: moment().startOf('month'),
        endMonth: moment().endOf('month')
      }
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser()
        self.GetEvents()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetEvents() {
      var self = this
      db.collection("events")
      .where("Users." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Events = []
        var cons = [];
        querySnapshot.forEach(function(doc) {
            var data = doc.data()
            data.ID = doc.id
            //data.StartTimestamp = self.getDate(data.StartTimestamp)
              if(data.AuthorID === self.User.uid){
                data.UserStatus = 1
                self.Events.push(data)
              } else if(data.UsersInvited.indexOf(self.User.uid) !== -1){
                data.UserStatus = 2
                self.Events.push(data)
              } else if(data.UsersGoing.indexOf(self.User.uid) !== -1){
                data.UserStatus = 3
                self.Events.push(data)
              } else if(data.UsersMaybe.indexOf(self.User.uid) !== -1){
                data.UserStatus = 4
                self.Events.push(data)
              }
          });
        });
    },
    GetUser() {
      var self = this
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    getDate(day){
      var moment = this.moment(day).calendar()
      return moment
    },
    
    checkFilter() {
        $("#btnToday").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnWeek").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnMonth").removeClass('btnPrimary').addClass('btnDefault')
        if(this.filter === "today") {
            $("#btnToday").removeClass('btnDefault').addClass('btnPrimary')
        } else if (this.filter === 'week') {
            $("#btnWeek").removeClass('btnDefault').addClass('btnPrimary')
        } else if (this.filter === 'month') {
            $("#btnMonth").removeClass('btnDefault').addClass('btnPrimary')
        }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
// Variables
$black: #202020;
$white: #fff;
$grey: #909090;
$light-grey: #dadada;
$turquoise: #78D9C5;
$pink: #fc3768;
html,
body {
  height: 100%;
}
a {
  color: $black;
  text-decoration: none;
}
.color-layer {
  background-color: rgba(107, 23, 102, 0.2);
  height: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  position: relative;
}
.navbar {
  padding: 10px;
  display: block;
}
.month-selection {
  text-align: center;
  position: absolute;
  width: calc(100% - 40px);
  padding: 10px 0;
  bottom: 20px;
  box-sizing: border-box;
  span.month {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
  }
}
.bottom-view {
  height: 50%;
  overflow: hidden;
}
.week-container {
  //background-color: red;
  padding: 5px 20px;
}
ul.week {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}
li.day {
  display: inline-block;
  width: 13%;
  height: 0;
  padding: 0 0 13%;
  font-weight: 300;
  box-sizing: border-box;
  position: relative;
  &.current {
    background: linear-gradient(45deg, #3498db, #e74c3c);
    border-radius: 50%;
  }
  span {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 26px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }
    &.day-names span {
    color: $grey;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.point::after{
    width:4px;
    height: 4px;
    background-color: $pink;
    content: '';
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -2px;
    border-radius: 50%;
  }
.entry{
  padding: 20px;
  border-top: 1px solid $light-grey;
  img{
    display: inline-block;
    margin-right: 15px;
  }
}
.text{
  display: inline-block;
  
}
.title{
  font-size: 16px;
  .name{
    font-weight: 500;
  }
}
.time{
  color: $grey;
  font-weight: 300;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.btnPrimary {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#btnToday, #btnWeek, #btnMonth {
    width: 32%
}
#btnToday {
    margin-left: 5px;
}
.createBtn {
  margin-left: 25%;
  width: 50%;
}

.line {
  display: block;
  margin: 0;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.lastMessage {
  margin-top: 3px;
  float: left;
}
.conTitle {
  font-size: 20pt;
  font-weight: 600;
}
.lastTime {
  float: right;
}
.bottomMargin {
  margin-bottom: 50px;
}
</style>
