<template>
  <div id="ConSettings">
    <p class="uk-text-center mainTitle">Settings</p>
<div id="encrypted" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title">This conversation is encrypted</h3>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
        </p>
    </div>
</div>
<div id="decrypted" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title">This conversation is decrypted</h3>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
        </p>
    </div>
</div>
<div id="wrongPassword" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Wrong password</h2>
        <p>Your password did not work, try again.</p>
        <p>Tip: This operation is case-sensitive.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
        </p>
    </div>
</div>
<div id="decryptCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Are you sure?</h2>
        <p>You are about to decrypt this conversation. Enter the password and proceed</p><br>
        <p>Carefull: This operation is case-sensitive</p>
        <input class="uk-input uk-width-1-5" type="password" placeholder="Password..." v-model="Password">
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button" @click="Decrypt()">Decrypt</button>
        </p>
    </div>
</div>
<div id="encryptCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Are you sure?</h2>
        <p> Warning: </p>
        <ul>
          <li>If you encrypt a conversation you will have to enter a password everytime you open the conversation.</li>
          <li>We will not store your password anywhere.</li>
          <li>If you don't remember the password you will be unable to decrypt them.</li>
          <li>This is a very dangerous operation. But it guarantees full privacy.</li>
          <li>This operation is case-sensitive</li>
        </ul>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button" @click="checkEncrypt2()">I want to continue</button>
        </p>
    </div>
</div>
<div id="encryptCheck2" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Enter a password</h2>
        <p>Once you click on 'Encrypt', all your previous messages will be encrypted
            <br> and we will automatically encrypt all new messages for you
        </p>
        <input class="uk-input uk-width-1-5 btnDefault" type="password" placeholder="Password..." v-model="Password">
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button" @click="Encrypt()">Encrypt</button>
        </p>
    </div>
</div>
    <router-link v-if="ConversationID" :to="{ name: 'Conversation', params: { id: ConversationID }}" class="menuIcon2">
      <span class="uk-margin-small-right" uk-icon="icon: comments; ratio: 1"></span>
      Back to the conversation
    </router-link>
  <p class="uk-text-center uk-text-large" v-if="Conversation.isPrivate !== true">Name:</p>
  <h1 class="uk-heading-primary uk-text-center" v-if="!Edit && Conversation.isPrivate !== true"><span>{{ Conversation.Name }}</span></h1>
  <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="Name..." v-if="Edit && Conversation.isPrivate !== true" v-model="Conversation.Name">
  <p class="uk-text-center uk-text-large">Color:</p>
  <p class="uk-text-center uk-text-large" v-if="!Edit">{{ Conversation.Color }}</p>
        <div class="uk-margin" v-if="Edit">
            <select class="uk-select" v-model="newColor">
                <option v-for="col in Colors" :key="col">{{ col }}</option>
            </select>
        </div>
  <p class="uk-text-center uk-text-large" v-if="Edit === true">Encryption status:</p>
  <p class="uk-text-center" v-if="Edit && Conversation.Encrypted === true"><span>Encrypted</span></p>
  <p class="uk-text-center" v-if="Edit && Conversation.Encrypted !== true"><span>Not encrypted</span></p>
  <button class="uk-button btnPrimary btnAdd" @click="checkEncrypt()" v-if="Edit === true && Conversation.Encrypted !== true">Encrypt</button><br>
  <button class="uk-button btnPrimary btnAdd" @click="checkDecrypt()" v-if="Edit === true && Conversation.Encrypted === true">Decrypt</button><br>
  <p v-if="Conversation.isPrivate !== true" class="uk-text-center uk-text-large">Administrator:</p>
  <p v-if="Conversation.isPrivate !== true" class="uk-text-center uk-text-large"><img class="uk-border-circle" width="32" height="32" v-bind:src="Admin.PhotoURL"> {{ Admin.Firstname }} {{ Admin.Lastname }}</p>
  <p class="uk-text-center uk-text-large" v-if="Conversation.isPrivate !== true">Users:</p>
    <div v-if="Users && Conversation.isPrivate !== true">
      <div v-for="usr in Users" class="row" :key="usr.UserID">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwo">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'conversation', source: ConversationID }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
        <div class="column colThree" v-if="Edit">
          <button class="uk-button btnDanger" v-if="usr.UserID!==Admin.UserID" @click="removeUser(usr)">Remove</button>
        </div>
      </div>
    </div>
    <!--
  <router-link v-if="Users && !Edit && Conversation.isPrivate !== true" v-for="usr in Users" :key="usr.UserID" :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'conversation', source: ConversationID }}">
    <img class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
    {{ usr.Firstname }} {{ usr.Lastname}} <br>
  </router-link>
  <p v-if="Users && Edit && Conversation.isPrivate !== true" v-for="usr in NewUsers" :key="usr.UserID">
    <img v-if="usr.PhotoURL" class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
    {{ usr.Firstname }} {{ usr.Lastname }} {{ usr.label }}
      <button class="uk-button uk-button-danger" v-if="usr.UserID!==Admin.UserID" @click="removeUser(usr)">Remove</button>
  </p>
-->
  <input id="tags" class="uk-input btnDefault" v-if="Users && Edit && Conversation.isPrivate !== true" type="text" v-model="selected" placeholder="Add a user..." >
  <button class="uk-button btnDefault btnAdd" @click="Edit = true, activateAutoComplete()" v-if="User && (User.uid===Admin.UserID && Conversation.isPrivate !== true) && Edit === false">Edit</button>
  <button class="uk-button btnDefault btnAdd" @click="Edit = true" v-if="User && Conversation.isPrivate === true && Edit === false">Edit</button>
  <button class="uk-button btnPrimary btnOK" @click="UpdateConv()" v-if="Edit === true">OK</button>
  <button class="uk-button btnDefault" @click="cancelEdit()" v-if="Edit === true">Cancel</button>
</div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'

require('webpack-jquery-ui');
var CryptoJS = require("crypto-js");

export default {
  name: 'ConSettings',
  data () {
    return {
      User: null,
      Edit: false,
      ConversationID: null,
      Conversation: [],
      ConversationCopy: [],
      Users: [],
      NewUsers: [],
      Friends: [],
      SelectedFriends: [],
      Profile: [],
      selected: null,
      Colors: ['Red', 'Blue', 'Green', 'Yellow', 'Orange', 'Darkblue', 'Turquoise', 'Purple'],
      newColor: null,
      Admin: [],
      Password: null
    }
  },
  components: {
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetAuthUser()
        self.ConversationID = self.$route.params.id
        self.GetConversations()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    activateAutoComplete(){
      var self = this
        $( function() {
        $( "#tags" ).autocomplete({
          minLength: 1,
          source: self.Friends,
          select: function(event, ui) { 
              self.selected = ui.item
              self.SelectedFriends.push(ui.item)
              self.NewUsers.push(ui.item)
              var index = self.Friends.indexOf(self.selected);
              self.Friends.splice(index, 1);
              self.selected = ""
              return false;
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
            }
        });
    },
    GetConversations() {
      var self = this
      db.collection("conversations")
      .doc(self.ConversationID)
      .onSnapshot(function(doc) {
          self.Conversation = doc.data()
          self.ConversationCopy = doc.data()
          self.newColor = self.Conversation.Color
          var usrs = self.Conversation.Users
          if(self.Users.length === 0){
            usrs.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
              self.NewUsers.push(result)
            })
          })
          }
          self.GetUser(self.Conversation.Admin).then(function(result){
            self.Admin = []
            self.Admin = result
            })
      })
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetAuthUser() {
      var self = this      
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
            self.Profile.Friends.forEach(function(element){
            self.GetProfile(element).then(function(result){
                var data = []
                data = {
                    "label" : result.Firstname + " " + result.Lastname,
                    "UserID" : result.UserID,
                }
              if(self.ConversationCopy.Users.indexOf(result.UserID)===-1){
                self.Friends.push(data)
              }
            })
            })
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetProfile(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    removeUser(param) {
      var self = this
      var index = self.NewUsers.indexOf(param);
      var index2 = self.SelectedFriends.indexOf(param);
      self.SelectedFriends.splice(index2, 1);
      self.NewUsers.splice(index, 1);
        var userIds = []
        self.Friends.forEach(function(element){
          userIds.push(element.UserID)
        })
      if(param.Firstname!==undefined){
        var data = []
        data = {
          "label" : param.Firstname + " " + param.Lastname,
          "UserID" : param.UserID,
        }
        if(userIds.length===0 || userIds.indexOf(data)===-1){
          console.log('index of data1: ' + userIds.indexOf(data))
          self.Friends.push(data)
        } else {
          console.log('already in the array - index of data2: ' + userIds.indexOf(data))
        }
      } else if(userIds.length===0 && userIds.indexOf(param)!==-1) {
        console.log('index of param3: ' + userIds.indexOf(param))
        self.Friends.push(param)
      } else {
        console.log('index of param4: ' + userIds.indexOf(param))
        self.Friends.push(param)
      }
    },
    UpdateConv() {
      var self = this
      var Users = []
      var Users2 = {}
      Users2[self.User.uid] = true
      self.NewUsers.forEach(function(element){
        Users.push(element.UserID)
        Users2[element.UserID] = true
      })
      db.collection("conversations").doc(self.ConversationID).update({
        "Users": Users,
        "Name": self.Conversation.Name,
        "Color": self.newColor,
        "Users2": Users2
      })
      .then(function() {
        self.Conversation.Users = Users
        self.Users = []
        self.NewUsers = []
          var usrs = self.Conversation.Users
            usrs.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
              self.NewUsers.push(result)
            })
          })
        console.log("Conversation successfully updated!");
      });
      self.Edit = false
    },
    cancelEdit(){
      var self = this
      self.Conversation = self.ConversationCopy
      self.NewUsers = []
      self.Users.forEach(function(element){
        self.NewUsers.push(element)
      })
      self.Edit = false
      self.Friends = []
      self.Profile.Friends.forEach(function(element){
      self.GetProfile(element).then(function(result){
          var data = []
          data = {
              "label" : result.Firstname + " " + result.Lastname,
              "UserID" : result.UserID,
          }
        if(self.ConversationCopy.Users.indexOf(result.UserID)===-1){
          self.Friends.push(data)
        }
      })
      })
      self.newColor = self.Conversation.Color
    },
    checkEncrypt(){
      UIkit.modal('#encryptCheck').show();
    },
    checkDecrypt(){
      UIkit.modal('#decryptCheck').show();
    },
    checkEncrypt2(){
      UIkit.modal('#encryptCheck2').show();
    },
    Encrypt(){
      var self = this
      self.Conversation.Messages.forEach(function(element){
        if(element.Text !== ""){
          var encrypted = CryptoJS.AES.encrypt(element.Text, self.Password);
          element.Text = encrypted.toString()
        }
        db.collection("conversations").doc(self.ConversationID).update({
          "Messages": self.Conversation.Messages,
          "Encrypted": true
        })
        .then(function() {
          self.Password = null
            UIkit.modal('#encrypted').show();
          console.log("Conversation successfully updated!");
        });
      })
      /*
      var encrypted = CryptoJS.AES.encrypt("Message", "heey");
      var bytes  = CryptoJS.AES.decrypt(encrypted.toString(), 'hey');
      var decrypted = bytes.toString(CryptoJS.enc.Utf8);
      */
    },
    Decrypt(){
      var self = this
      self.Conversation.Messages.forEach(function(element){
        if(element.Text !== ""){
          var bytes  = CryptoJS.AES.decrypt(element.Text, self.Password);
          var decrypted = bytes.toString(CryptoJS.enc.Utf8);
          if(decrypted !== ""){
          element.Text = decrypted
        db.collection("conversations").doc(self.ConversationID).update({
          "Messages": self.Conversation.Messages,
          "Encrypted": false
        })
        .then(function() {
          self.Password = null
            UIkit.modal('#decrypted').show();
          console.log("Conversation successfully updated!");
        });
          } else {
          self.Password = null
            UIkit.modal('#wrongPassword').show();
          }
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainTitle {
  color: #3498db;
  margin-top: 50px;
}
.menuIcon2 {
  position: fixed;
  top: 2%; right: 5%;
  color: #6078ea;
  z-index: 1;
}
.uk-modal-body {
  text-align: left;
}
select, input {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
}
.btnPrimary {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
        margin-bottom: 5px;
}
.btnEdit {
    width: 60%;
    margin-left: 20%;
}
.subtitle {
  background-image: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 30pt;
  margin-bottom: 20px;;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row {
  height: 100px;
  border-bottom: #3498db solid 1px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.columnOne {
  border-right: #3498db solid 1px;
  padding-right: 2px;
}
.colOne {
  width: 15%;
  padding-top: 10px;
}
.colTwo {
  width: 55%;
}
.colThree {
  width: 20%;
}
.lastMessage {
  margin-top: 3px;
  float: left;
  width: 100%;
}
.conTitle {
  font-size: 20pt;
  font-weight: 600;
}
.btnDanger {
    color: white;
    background: #e74c3c;
    margin-top: 30px;
}
#tags {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btnAdd {
  width: 50%;
  margin-left: 25%;
}
.btnOK {
  margin-left: 30%;
}
</style>
