<template>
  <div id="Conversation">
    <div v-if="Messages">
    <p class="uk-text-center mainTitle">{{ Messages.Name }}</p>
  </div>
        <!-- Offcanvas 2 -->
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true" v-if="ConversationID">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li class="uk-active"><a href="#">Item</a></li>
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header">Files</li>
                <li>
                  <router-link :to="{ name: 'AllFiles', params: { id: ConversationID, filter: 'none' }}">
                    <span class="uk-margin-small-right" uk-icon="icon: album"></span> All files
                  </router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'AllFiles', params: { id: ConversationID, filter: 'docs' }}">
                    <span class="uk-margin-small-right" uk-icon="icon: folder"></span> Documents
                  </router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'AllFiles', params: { id: ConversationID, filter: 'pics' }}">
                    <span class="uk-margin-small-right" uk-icon="icon: image"></span> Pictures
                  </router-link>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header">Users</li>
                <li v-for="usr in Users" :key="usr.UserID">
                  <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, source: ConversationID, type: 'conversation' }}">
                  <img class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
                  {{ usr.Firstname }}
                  </router-link>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header">Translate to:</li>
                <li>
                  <select class="uk-select" v-model="selectedLang">
                    <option v-for="lng in lang" :key="lng.l" :value="lng.l">{{ lng.n }}</option>
                  </select>
                  <button class="uk-button uk-button-default" type="button" @click="translateMessages()">Translate</button>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                  <router-link :to="{ name: 'ConSettings', params: { id: ConversationID }}">
                    <span class="uk-margin-small-right" uk-icon="icon: cog"></span>Settings
                  </router-link>
                </li>
            </ul>

        </div>
    </div>
    <a class="menuIcon2" href="#offcanvas-flip" uk-toggle uk-icon="icon: info; ratio: 1.5">
    </a>
    <p v-if="Messages.Encrypted === true">This conversation is encrypted, enter your password to decrypt it.</p>
  <button class="uk-button uk-button-default" @click="checkDecrypt()" v-if="Messages.Encrypted === true">Password</button><br><br>
    <!-- End Offcanvas -->
<div id="wrongPassword" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Wrong password</h2>
        <p>Your password did not work, try again.</p>
        <p>Tip: This operation is case-sensitive.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
        </p>
    </div>
</div>
<div id="decryptCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">This conversation is encrypted</h2>
        <p>You need to enter the password everytime you open this conversation.</p><br>
        <p>If you don't know the password, contact the administrator of this conversation to request it.</p><br>
        <p>Enter the password and proceed</p><br>
        <p>Carefull: This operation is case-sensitive</p>
        <input class="uk-input uk-width-1-5" type="password" placeholder="Password..." v-model="Password1">
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button" @click="Password = Password1">Decrypt</button>
        </p>
    </div>
</div>
    <div class="uk-card uk-card-default uk-border-rounded uk-margin-large-top stickyBottom">
      <div class="uk-card-body uk-padding-small closeEmoji" id="check1">
    <!--<button v-if="MessageCounter > 0" @click="addMessagesCount()" uk-text-center >Load more messages ({{ MessageCounter }} left)</button>-->
        <div v-if="Messages.Messages" v-for="mes in Messages.Messages" :key="mes.text" >
          <!-- Stanger message -->
        <div class="guest uk-grid-small uk-flex-bottom uk-flex-left"  uk-grid v-if="mes.UserID !== User.uid && mes.UserID !== 'system'">
          <div class="uk-width-auto">
            <img class="uk-border-circle" v-bind:uk-tooltip="mes.User.Firstname + ' ' + mes.User.Lastname" width="32" height="32" v-bind:src="mes.User.PhotoURL">
          </div>
          <div class="uk-width-auto">
            <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded">
              <!--<p class="uk-margin-remove" v-if="!mes.File.Type" v-html="urlify(Decrypt(mes.Text))"></p>-->
              <p class="uk-margin-remove" v-if="!mes.File.Type && !mes.SharedEvent && !mes.SharedCon" v-html="Decrypt(mes.Text)"></p>
              <router-link v-if="mes.SharedCon && mes.SharedCon.Author" :key="mes.SharedCon.Id" :to="{ name: 'Post', params: { id: mes.SharedCon.Id }}">
              <p class="uk-margin-remove uk-text-center">
                  <font-awesome-icon size="3x" :icon="['fas', 'link']"  />
                  <br>
                {{ mes.User.Firstname }} shared a post from {{ mes.SharedCon.Author.Firstname }} {{ mes.SharedCon.Author.Lastname }}. Click
                here
                to view it.
               </p></router-link>
               <router-link v-if="mes.SharedEvent && mes.SharedEvent.Author" :key="mes.SharedEvent.Id" :to="{ name: 'Event', params: { id: mes.SharedEvent.Id }}">
              <p class="uk-margin-remove uk-text-center">
                  <font-awesome-icon size="3x" :icon="['fas', 'calendar-alt']"  />
                  <br>
                {{ mes.User.Firstname }} shared an event from {{ mes.SharedEvent.Author.Firstname }} {{ mes.SharedEvent.Author.Lastname }}. Click
                here
                to view it.
               </p></router-link>
              <div v-if="mes.File.Type && mes.File.Type !== 'img'">
                  <font-awesome-icon size="3x" :icon="['fas', 'file']" v-if="mes.File.Type === 'text/plain'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-word']" v-if="mes.File.Type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                  || mes.File.Type === 'application/msword'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-pdf']" v-if="mes.File.Type === 'application/pdf'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-powerpoint']" v-if="mes.File.Type === 'application/vnd.ms-powerpoint'
                  || mes.File.Type === 'application/vnd.openxmlformats-officedocument.presentationml.presentation'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-excel']" v-if="mes.File.Type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" />
                  <br>
                  <a v-bind:href="mes.File.URL" v-bind:download="mes.File.Name">{{ mes.File.Name }}</a>
              </div>
              <div uk-lightbox v-if="mes.File.Type && mes.File.Type === 'img'" >
                <a class="uk-button uk-button-default" v-bind:href="mes.File.URL" data-type="image" v-bind:data-caption="mes.File.Name">
                  <img class="maxHeight" v-bind:src="mes.File.URL"/>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Stanger message -->
        <!-- Authenticated user message -->
        <!-- add class "redMessage" to div to add red color -->
        <div class="me uk-grid-small uk-flex-bottom uk-flex-right uk-text-right" uk-grid v-if="mes.UserID === User.uid">
          <div class="uk-width-auto">
            <div class="uk-card uk-card-body uk-card-small uk-card-primary uk-border-rounded">
              <!--<p class="uk-margin-remove" v-if="!mes.File.Type && !mes.SharedEvent && !mes.SharedCon" v-html="urlify(Decrypt(mes.Text))"></p>-->
              <p class="uk-margin-remove" v-if="!mes.File.Type && !mes.SharedEvent && !mes.SharedCon" v-html="Decrypt(mes.Text)"></p>
              <router-link v-if="mes.SharedCon && mes.SharedCon.Author" :key="mes.SharedCon.Id" :to="{ name: 'Post', params: { id: mes.SharedCon.Id }}">
              <p class="uk-margin-remove uk-text-center">
                  <font-awesome-icon size="3x" :icon="['fas', 'link']"  />
                  <br>
                {{ mes.User.Firstname }} shared a post from {{ mes.SharedCon.Author.Firstname }} {{ mes.SharedCon.Author.Lastname }}. Click
                here
                to view it.
               </p></router-link>
              <router-link v-if="mes.SharedEvent && mes.SharedEvent.Author" :key="mes.SharedEvent.Id" :to="{ name: 'Event', params: { id: mes.SharedEvent.Id }}">
              <p class="uk-margin-remove uk-text-center">
                  <font-awesome-icon size="3x" :icon="['fas', 'calendar-alt']"  />
                  <br>
                {{ mes.User.Firstname }} shared an event from {{ mes.SharedEvent.Author.Firstname }} {{ mes.SharedEvent.Author.Lastname }}. Click
                here
                to view it.
               </p></router-link>
              <div v-if="mes.File.Type && mes.File.Type !== 'img'">
                  <font-awesome-icon size="3x" :icon="['fas', 'file']" v-if="mes.File.Type === 'text/plain'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-word']" v-if="mes.File.Type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                  || mes.File.Type === 'application/msword'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-pdf']" v-if="mes.File.Type === 'application/pdf'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-powerpoint']" v-if="mes.File.Type === 'application/vnd.ms-powerpoint'
                  || mes.File.Type === 'application/vnd.openxmlformats-officedocument.presentationml.presentation'" />
                  <font-awesome-icon size="3x" :icon="['fas', 'file-excel']" v-if="mes.File.Type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" />
                  <br>
                  <a v-bind:href="mes.File.URL" v-bind:download="mes.File.Name">{{ mes.File.Name }}</a>
              </div>
              <div uk-lightbox v-if="mes.File.Type && mes.File.Type === 'img'" >
                <a class="uk-button uk-button-default" v-bind:href="mes.File.URL" data-type="image" v-bind:data-caption="mes.File.Name">
                  <img class="maxHeight" v-bind:src="mes.File.URL"/>
                </a>
              </div>
            </div>
          </div>
          <!--
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="32" height="32"  v-bind:src="mes.User.PhotoURL">
          </div>
          -->
        </div>
        <!-- End Authenticated user message -->
        <!-- System messages -->
          <p v-if="mes.UserID === 'system'" class="uk-text-center uk-text-large" v-html="Decrypt(mes.Text)"></p>
        <!-- End System messages -->
        </div>
        <!-- strangers is typing -->
        <div class="guest uk-grid-small uk-flex-bottom uk-flex-left" uk-grid v-if="typingUser && typingUser !== User.uid">
          <div class="uk-width-auto">
            <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded">
              <p class="uk-margin-remove">
                <span class="etc"><i></i><i></i><i></i></span>
              </p>
            </div>
          </div>
        </div>
        <!-- End strangers is typing -->
          <p v-if="lastMessage" class="uk-text-center uk-text-small">
            Last update: {{ lastMessage }}
            </p>
      </div>
      <footer uk-sticky="bottom: true">
<div id="sizeAlert" class="uk-alert-danger" animation="true" duration="150" hidden uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>File is too large (max. 2MB)</p>
</div>
        <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
      <Picker set="apple" showPreview:false title="Pick an emoji" emoji='grin' @click="addEmoji" class="aboveAll"  />
      <div class="uk-card-footer uk-padding-remove">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <Emoji emoji="slightly_smiling_face" set="apple" :size="32" id="emojiBtn" />
         </div>
          <div class="uk-width-expand">
            <div class="uk-padding-small uk-padding-remove-horizontal">
              <textarea id="Textarea" class="uk-textarea uk-padding-remove uk-border-remove closeEmoji" @keypress="IsTyping()" v-on:keypress.enter.exact="ValidateMessage()" v-model="NewMessage" rows="1" placeholder="Type a message..."></textarea>
            </div>
          </div>
          <div class="uk-width-auto">
            <ul class="uk-iconnav uk-margin-small-right">
              <li>
                <div class="js-upload" uk-form-custom>
                  <input type="file" id="img" @change="addImg()" accept="image/*">
                  <a uk-toggle uk-icon="icon: image; ratio: 1.5" tabindex="-1"></a>
                </div>
                <div class="js-upload" uk-form-custom>
                  <input type="file" id="file"  @change="addFile()" accept=".xlsx, .doc, .docx, .ppt, .pptx, .txt, .pdf">
                  <a uk-toggle uk-icon="icon: upload; ratio: 1.5" tabindex="-1"></a>
                </div>
              </li>
              <li>
                <button class="uk-button sendBtn uk-button-secondary uk-button-large" v-if="Messages.Encrypted !== true" @click="ValidateMessage()">send</button>
                <button class="uk-button sendBtn uk-button-secondary uk-button-large" v-if="Messages.Encrypted === true" @click="Encrypt()">send</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </footer>
    </div>
  </div>
</template>

<script src="blob-util.js"></script>
<script scoped>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import { Picker, Emoji } from 'emoji-mart-vue'
import blobUtil from 'blob-util'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import '@fortawesome/fontawesome/styles.css'
import fontawesome from '@fortawesome/fontawesome'
import { faFileWord } from '@fortawesome/fontawesome-free-solid'
import moment from 'moment'
import axios from 'axios'

fontawesome.config = {
  autoAddCss: false,
};

fontawesome.library.add(faFileWord)
var CryptoJS = require("crypto-js")
var Remarkable = require('remarkable')
var md = new Remarkable({
  linkify: true
})

export default {
  name: 'Conversation',
  data () {
    return {
      User: null,
      Messages: [],
      ConversationID: null,
      NewMessage: '',
      MessagesWithId: [],
      Users: [],
      lastType: new Date(0).getTime(),
      UserIsTyping : "",
      ScrollCount: 0,
      MessageCount: 20,
      color: null,
      Password1: null,
      Password: null,
      AuthUser: null,
      lang: [{"l":"af","n":"Afrikaans"},{"l":"sq","n":"Albanian"},{"l":"am","n":"Amharic"},{"l":"ar","n":"Arabic"},{"l":"hy","n":"Armenian"},
      {"l":"az","n":"Azerbaijani"},{"l":"eu","n":"Basque"},{"l":"be","n":"Belarusian"},{"l":"bn","n":"Bengali"},{"l":"bs","n":"Bosnian"},
      {"l":"bg","n":"Bulgarian"},{"l":"ca","n":"Catalan"},{"l":"ceb","n":"Cebuano"},{"l":"ny","n":"Chichewa"},{"l":"zh","n":"Chinese(Simplified)"},
      {"l":"zh-TW","n":"Chinese(Traditional)"},{"l":"co","n":"Corsican"},{"l":"hr","n":"Croatian"},{"l":"cs","n":"Czech"},{"l":"da","n":"Danish"},
      {"l":"nl","n":"Dutch"},{"l":"en","n":"English"},{"l":"eo","n":"Esperanto"},{"l":"et","n":"Estonian"},{"l":"tl","n":"Filipino"},
      {"l":"fi","n":"Finnish"},{"l":"fr","n":"French"},{"l":"fy","n":"Frisian"},{"l":"gl","n":"Galician"},{"l":"ka","n":"Georgian"},
      {"l":"de","n":"German"},{"l":"el","n":"Greek"},{"l":"gu","n":"Gujarati"},{"l":"ht","n":"HaitianCreole"},{"l":"ha","n":"Hausa"},
      {"l":"haw","n":"Hawaiian"},{"l":"iw","n":"Hebrew"},{"l":"hi","n":"Hindi"},{"l":"hmn","n":"Hmong"},{"l":"hu","n":"Hungarian"},
      {"l":"is","n":"Icelandic"},{"l":"ig","n":"Igbo"},{"l":"id","n":"Indonesian"},{"l":"ga","n":"Irish"},{"l":"it","n":"Italian"},
      {"l":"ja","n":"Japanese"},{"l":"jw","n":"Javanese"},{"l":"kn","n":"Kannada"},{"l":"kk","n":"Kazakh"},{"l":"km","n":"Khmer"},
      {"l":"ko","n":"Korean"},{"l":"ku","n":"Kurdish(Kurmanji)"},{"l":"ky","n":"Kyrgyz"},{"l":"lo","n":"Lao"},{"l":"la","n":"Latin"},
      {"l":"lv","n":"Latvian"},{"l":"lt","n":"Lithuanian"},{"l":"lb","n":"Luxembourgish"},{"l":"mk","n":"Macedonian"},{"l":"mg","n":"Malagasy"},
      {"l":"ms","n":"Malay"},{"l":"ml","n":"Malayalam"},{"l":"mt","n":"Maltese"},{"l":"mi","n":"Maori"},{"l":"mr","n":"Marathi"},
      {"l":"mn","n":"Mongolian"},{"l":"my","n":"Myanmar(Burmese)"},{"l":"ne","n":"Nepali"},{"l":"no","n":"Norwegian"},{"l":"ps","n":"Pashto"},
      {"l":"fa","n":"Persian"},{"l":"pl","n":"Polish"},{"l":"pt","n":"Portuguese"},{"l":"pa","n":"Punjabi"},{"l":"ro","n":"Romanian"},
      {"l":"ru","n":"Russian"},{"l":"sm","n":"Samoan"},{"l":"gd","n":"ScotsGaelic"},{"l":"sr","n":"Serbian"},{"l":"st","n":"Sesotho"},
      {"l":"sn","n":"Shona"},{"l":"sd","n":"Sindhi"},{"l":"si","n":"Sinhala"},{"l":"sk","n":"Slovak"},{"l":"sl","n":"Slovenian"},
      {"l":"so","n":"Somali"},{"l":"es","n":"Spanish"},{"l":"su","n":"Sundanese"},{"l":"sw","n":"Swahili"},{"l":"sv","n":"Swedish"},
      {"l":"tg","n":"Tajik"},{"l":"ta","n":"Tamil"},{"l":"te","n":"Telugu"},{"l":"th","n":"Thai"},{"l":"tr","n":"Turkish"},{"l":"uk","n":"Ukrainian"},
      {"l":"ur","n":"Urdu"},{"l":"uz","n":"Uzbek"},{"l":"vi","n":"Vietnse"},{"l":"cy","n":"Welsh"},{"l":"xh","n":"Xhosa"},{"l":"yi","n":"Yiddish"},
      {"l":"yo","n":"Yoruba"},{"l":"zu","n":"Zulu"}],
      selectedLang: 'en',
      typingUser: ''
    }
  },
  components: {
    Picker: Picker,
    Emoji: Emoji,
    FontAwesomeIcon
  },
  computed: {
  lastMessage: function() {
    if(this.Messages.Messages !== undefined){
      var computedTime = moment(this.Messages.Messages[this.Messages.Messages.length-1].Timestamp).fromNow();
    return computedTime
    }
  },
  MessageCounter: function() {
    var count = 0
    if(this.MessagesWithId !== undefined && this.MessagesWithId.Messages !== undefined){
      var count = this.MessagesWithId.Messages.length - this.MessageCount
    }
    return count
  },
},
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
},
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser(user.uid).then(function(result){
          self.AuthUser = result
          self.selectedLang = result.Language
        })
        self.ConversationID = self.$route.params.id
        self.GetConversations()
        self.GetTypingUser()
        setInterval(function(){
          var Now = new Date().getTime()
          if(Now - self.lastType > 1000){
            self.UserIsTyping = ""
            //document.getElementById('typing_on').innerHTML = "No one is typing...! ";
            self.AddTypingUser()
          } else {
            self.UserIsTyping = self.User.uid
            //document.getElementById('typing_on').innerHTML = self.UserIsTyping + " is typing...! ";
            self.AddTypingUser()
          }
        self.setColor()
         }, 1000);
         $(".aboveAll").hide()
         $(".closeEmoji").on('click', function(){
           $(".aboveAll").hide()
         })
         $("#emojiBtn").on('click', function(){
           $(".aboveAll").toggle()
         })
          var Scrolling = setInterval(function(){
           if(self.Messages.Messages !== undefined && self.Messages.Messages.length !== 0){
            self.scrollToTop()
            self.ScrollCount++
            if(self.ScrollCount > 20){
              clearInterval(Scrolling)
            self.scrollToTop()
            }
          }
         }, 100)
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    })
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetConversations() {
      var self = this
      db.collection("conversations")
      .doc(self.ConversationID)
      .onSnapshot(function(doc) {
          self.Messages = doc.data()
          self.MessagesWithId = doc.data()
          self.Messages.Id = doc.id
          var mes = self.Messages.Messages
          mes.forEach(function(element){
            element.Text = md.render(element.Text)
            self.GetUser(element.User).then(function(result){
              element.User = result
            })
            if(element.SharedCon){
              db.collection("posts")
              .doc(element.SharedCon)
              .onSnapshot(function(doc) {
                var post = doc.data()
                post.Id = doc.id
                self.GetUser(post.AuthorID).then(function(result){
                  post.Author = result
                  element.SharedCon = post
                })
              })
            }
            if(element.SharedEvent){
              db.collection("events")
              .doc(element.SharedEvent)
              .onSnapshot(function(doc) {
                var post = doc.data()
                post.Id = doc.id
                self.GetUser(post.AuthorID).then(function(result){
                  post.Author = result
                  element.SharedEvent = post
                })
              })
            }
          })
          var usrs = self.Messages.Users
          self.Users = []
          self.User.length = 0
          if(self.Users.length === 0){
            usrs.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
            })
          })
          }
          if(!self.MessagesWithId.Read || ( self.MessagesWithId.Read && self.MessagesWithId.Read[self.User.uid] !== true)){
           self.ReadConversation()
         } else {
         }
      })
    },
    SendMessage() {
      var self = this
      var data = []
      data = {
          "File": {
            "Name": "",
            "Type": "",
            "URL": ""
          },
        "Text" : self.NewMessage,
        "User" : self.User.uid,
        "UserID" : self.User.uid,
        "Timestamp" : new Date()
      }
      self.MessagesWithId.Messages.push(data)
        var Read = {}
        Read[self.User.uid] = true
      db.collection("conversations").doc(self.Messages.Id).update({
        "Messages": self.MessagesWithId.Messages,
        "Read": Read
      })
      .then(function() {
        console.log("Document successfully written!");
        self.NewMessage = ''
        self.UserIsTyping = ""
        self.AddTypingUser()
        self.scrollToTop()
      })
      .catch(function(error) {
          console.error("Error writing document: ", error);
      });
    },
    GetTypingUser() {
      var self = this
      db.collection("typingDetector").doc(self.ConversationID)
      .onSnapshot(function(doc) {
        self.typingUser = doc.data().isTyping
      })
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    IsTyping() {
      this.lastType = new Date().getTime()
    },
    AddTypingUser() {
      var self = this
      if(self.UserIsTyping !== self.MessagesWithId.isTyping
      && ((self.UserIsTyping === "" &&  self.MessagesWithId.isTyping === self.User.uid) 
        || self.UserIsTyping === self.User.uid)) {
        self.MessagesWithId.isTyping = self.UserIsTyping
        db.collection("typingDetector").doc(self.ConversationID).update({
          "isTyping": self.UserIsTyping
        })
        .then(function() {
          console.log("added typing user: " + self.UserIsTyping)
        })
        .catch(function(error) {
          console.error("Error writing document: ", error);
        });
      }
    },
    ValidateMessage(){
      var self = this
      if(self.NewMessage.length > 0){
        self.SendMessage()
      } else {
        alert("Message can't be empty")
      }
    },
    ReadConversation() {
      var self = this
      self.MessagesWithId.Read[self.User.uid] = true
      db.collection("conversations").doc(self.Messages.Id).update({
        "Read": self.MessagesWithId.Read
      })
      .then(function() {
      })
      .catch(function(error) {
          console.error("Error writing document: ", error);
      });
    },
    addEmoji: function(emoji, event) {
      this.NewMessage = this.NewMessage + emoji.native
      $(".aboveAll").hide()
      $("#Textarea").focus();
    },
    addImg() {
      var self = this
      var file = $('#img')[0].files[0];
      var fileReader = new FileReader();
      fileReader.onloadend = function (e) {
        var arrayBuffer = e.target.result;
        blobUtil.arrayBufferToBlob(arrayBuffer, file.type).then(function (blob) {
          console.log('here is a blob', blob);
          console.log('its size is', blob.size);
          console.log('its type is', blob.type);
          self.uploadImg(blob, file.name, "img", blob.size)
          $('#img').val("")
        }).catch(console.log.bind(console));
      };
      fileReader.readAsArrayBuffer(file);
    },
    addFile() {
      var self = this
      var file = $('#file')[0].files[0];
      var fileReader = new FileReader();
      fileReader.onloadend = function (e) {
        var arrayBuffer = e.target.result;
        blobUtil.arrayBufferToBlob(arrayBuffer, file.type).then(function (blob) {
          console.log('here is a blob', blob);
          console.log('its size is', blob.size);
          console.log('its type is', blob.type);
          self.uploadImg(blob, file.name, file.type, blob.size)
          $('#file').val("")
        }).catch(console.log.bind(console));
      };
      fileReader.readAsArrayBuffer(file);
    },
    uploadImg(param, param2, param3, param4) {
      if(param4 < 2500000){
      var self = this
      const ref = firebase.storage().ref();
      const file = param
      const name = (+new Date()) + '-' + param2
      const metadata = {
        contentType: file.type
      };
      const task = ref.child(name).put(file, metadata);
      task.then((snapshot) => {
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        $("#js-progressbar").removeAttr("hidden")
        $("#js-progressbar").value = progress
        console.log('Upload is ' + progress + '% done');
        const url = snapshot.downloadURL;
        var data = []
        data = {
          "File": {
            "Name": param2,
            "Type": param3,
            "URL": url,
            "Size": param4
          },
          "Text" : "",
          "User" : self.User.uid,
          "UserID" : self.User.uid,
          "Timestamp" : new Date()
        }
        self.MessagesWithId.Messages.push(data)
        var Read = {}
        Read[self.User.uid] = true
        db.collection("conversations").doc(self.Messages.Id).update({
          "Messages": self.MessagesWithId.Messages,
          "Read": Read
        })
        .then(function() {
          console.log("Document successfully written!");
          $("#js-progressbar").attr('hidden', 'hidden')
        })
        .catch(function(error) {
          console.error("Error writing document: ", error);
        });
      }).catch((error) => {
        console.error(error);
      });
      } else {
        $("#sizeAlert").removeAttr("hidden")
      }
    },
    scrollToTop(){
      var d = $('#check1');
      d.scrollTop(d.prop("scrollHeight"));
    },
    addMessagesCount() {
      this.MessageCount += 20
    },
    getTime(param){
      return moment(param).format('MMMM Do YYYY, HH[h]mm')
    },
    setColor(){
      var self = this
      var resetColor = function(){
      $('.me').removeClass('redMessage').removeClass('blueMessage').removeClass('greenMessage').removeClass('orangeMessage')
           .removeClass('purpleMessage').removeClass('darkblueMessage').removeClass('yellowMessage').removeClass('turquoiseMessage')
      }
         if(self.Messages.Color==='Red'){
           resetColor()
           $('.me').addClass('redMessage')
           $('.menuIcon').css('color', '#e74c3c')
           $('.menuIcon2').css('color', '#e74c3c')
           $('.sendBtn').css({'background': '#e74c3c', 'color': 'white'})
         } else if(self.Messages.Color==='Blue'){
           resetColor()
           $('.me').addClass('blueMessage')
           $('.menuIcon').css('color', '#3498db')
           $('.menuIcon2').css('color', '#3498db')
           $('.sendBtn').css({'background': '#3498db', 'color': 'white'})
         } else if(self.Messages.Color==='Green'){
           resetColor()
           $('.me').addClass('greenMessage')
           $('.menuIcon').css('color', '#2ecc71')
           $('.menuIcon2').css('color', '#2ecc71')
           $('.sendBtn').css({'background': '#2ecc71', 'color': 'white'})
         } else if(self.Messages.Color==='Orange'){
           resetColor()
           $('.me').addClass('orangeMessage')
           $('.menuIcon').css('color', '#e67e22')
           $('.menuIcon2').css('color', '#e67e22')
           $('.sendBtn').css({'background': '#e67e22', 'color': 'white'})
         } else if(self.Messages.Color==='Purple'){
           resetColor()
           $('.me').addClass('purpleMessage')
           $('.menuIcon').css('color', '#9b59b6')
           $('.menuIcon2').css('color', '#9b59b6')
           $('.sendBtn').css({'background': '#9b59b6', 'color': 'white'})
         } else if(self.Messages.Color==='Darkblue'){
           resetColor()
           $('.me').addClass('darkblueMessage')
           $('.menuIcon').css('color', '#34495e')
           $('.menuIcon2').css('color', '#34495e')
           $('.sendBtn').css({'background': '#34495e', 'color': 'white'})
         } else if(self.Messages.Color==='Yellow'){
           resetColor()
           $('.me').addClass('yellowMessage')
           $('.menuIcon').css('color', '#f1c40f')
           $('.menuIcon2').css('color', '#f1c40f')
           $('.sendBtn').css({'background': '#f1c40f', 'color': 'white'})
         } else if(self.Messages.Color==='Turquoise'){
           resetColor()
           $('.me').addClass('turquoiseMessage')
           $('.menuIcon').css('color', '#1abc9c')
           $('.menuIcon2').css('color', '#1abc9c')
           $('.sendBtn').css({'background': '#1abc9c', 'color': 'white'})
         }
    },/*
    urlify(text) {
      var self = this
    var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
    //var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url,b,c) {
        var url2 = (c == 'www.') ?  'http://' +url : url;
        return '<a class="linkPreview" href="' +url2+ '" target="_blank">' + url + '</a>';
    }) 
    },*/
    Decrypt(text){
      var self = this
      if(text !== "" && self.Messages.Encrypted === true && self.Password !== null && self.Password !== ""){
          var bytes  = CryptoJS.AES.decrypt(text, self.Password);
          var decrypted = bytes.toString(CryptoJS.enc.Utf8);
          if(decrypted !== ""){
          text = decrypted
          return text
          }
        }
        return text
    },
    checkDecrypt(){
      var self = this
      if(self.Messages.Encrypted === true){
        UIkit.modal('#decryptCheck').show();
      }
    },
    Encrypt(){
      var self = this
      var encrypted = CryptoJS.AES.encrypt(self.NewMessage, self.Password);
      self.NewMessage = encrypted.toString()
      self.SendMessage()
      /*
      var encrypted = CryptoJS.AES.encrypt("Message", "heey");
      var bytes  = CryptoJS.AES.decrypt(encrypted.toString(), 'hey');
      var decrypted = bytes.toString(CryptoJS.enc.Utf8);
      */
    },
    translateMessages(){
      var self = this
      var translatedText = ''
      self.Messages.Messages.forEach(function(element){
        if(element.Text !== '' && element.UserID !== self.User.uid){
      axios({
        method: 'post',
        url: "https://translation.googleapis.com/language/translate/v2/detect?key=AIzaSyBXYrfRZDOOQz7xKM06cejAwaV5tAfqfJU",
        data: {
          'q': element.Text,
        }
      }).then(result => {
        var detectedLang = result.data.data.detections[0][0].language
        axios({
          method: 'post',
          url: "https://translation.googleapis.com/language/translate/v2?key=AIzaSyAdk14NygTtBf8mUloc5FjURPV3Vvqyx4U",
          data: {
            'q': element.Text,
            'target': self.selectedLang,
            'format': 'text',
            'source': detectedLang,
          }
        }).then(result => {
          var index = self.Messages.Messages.indexOf(element)
          self.Messages.Messages[index].Text = result.data.data.translations[0].translatedText
        }, error => {
          console.error(error)
        })
      }, error => {
        console.error(error)
      })
        }
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.menuIcon2 {
  position: fixed;
  top: 2%; right: 5%;
  color: #6078ea;
  z-index: 1;
}
.uk-card-small {
  &.uk-card-body {
    padding: 5px 8px;
    font-size: 13px;
  }
}
.uk-border-remove {
  border: 0 none;
}
textarea {
  background: none !important;
  resize: none;
}
@keyframes dot-anim {
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -6px);
  }
  0% {
    transform: translate(0, 0);
  }
}
%etc-pattern {
  width: 6px;
  height: 6px;
  background: #222;
  border-radius: 100%;
  display: inline-block;
  animation: dot-anim 1s infinite linear;
  transform: translate(0, 0);
}
.etc {
  display: block;
  position: relative;
  i {
    @extend %etc-pattern;
    & + i {
      margin-left: 3px;
    }
    &:nth-child(1) {
      animation-delay: .5s;
    }
    &:nth-child(2) {
      animation-delay: .4s;
    }
    &:nth-child(3) {
      animation-delay: .3s;
    }
  }
}
.uk-card {
  position: relative;
  z-index: 1;
}
.guest .uk-card:after, .me .uk-card:after {
  width: 10px;
  height: 45px;
  position: absolute;
  bottom: 0;
}
.guest .uk-card:after {
  background: #fff;
  left: -4px;
  clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}
.me .uk-card:after {
  background: #1e87f0;
  right: -4px;
  clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}
.stickyBottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.aboveAll {
  position: fixed;
  bottom: 0;
  margin-bottom: 60px;
  z-index: 9999999;
}
.maxHeight {
  max-height: 300px !important;
}
.uk-card-primary {
  color: rgba(255,255,255,1) !important;
}
#check1 {
  max-height: 80vh;
  overflow: auto;
}
.redMessage > div > div,
.redMessage .uk-card::after {
  background: #e74c3c !important;
}
.blueMessage > div > div,
.blueMessage .uk-card::after {
  background: #3498db !important;
}
.greenMessage > div > div,
.greenMessage .uk-card::after {
  background: #2ecc71 !important;
}
.orangeMessage > div > div,
.orangeMessage .uk-card::after {
  background: #e67e22 !important;
}
.turquoiseMessage > div > div,
.turquoiseMessage .uk-card::after {
  background: #1abc9c !important;
}
.yellowMessage > div > div,
.yellowMessage .uk-card::after {
  background: #f1c40f !important;
}
.purpleMessage > div > div,
.purpleMessage .uk-card::after {
  background: #9b59b6 !important;
}
.darkblueMessage > div > div,
.darkblueMessage .uk-card::after {
  background: #34495e !important;
}
address, dl, fieldset, figure, ol, p, pre, ul{
  margin: 0 !important;
}
.mainTitle {
  color: #3498db;
  margin-top: 20px !important;
}
</style>