<template>
  <div id="CreateProject">
    <p class="uk-text-center mainTitle">Create a project</p>
    <p class="uk-text-center uk-text-large">Add a title:</p>
    <div class="uk-margin">
      <input class="uk-input btnDefault" type="text" v-model="Project.Title" placeholder="Title...">
    </div>
    <p class="uk-text-center uk-text-large">Add a description:</p>
    <div class="uk-margin">
            <textarea class="uk-textarea btnDefault uk-width-5-5" rows="5" v-model="Project.Description" placeholder="Description..." />
    </div>
        <p class="uk-text-center uk-text-large">Add friends:</p>
    <div class="uk-margin">
      <input id="tags" class="uk-input btnDefault" type="text" v-model="selected" placeholder="Add a user..." >
    </div>
  <p v-if="SelectedFriends.length > 0" v-for="usr in SelectedFriends" :key="usr.value">
      {{ usr.label }}
      <button class="uk-button uk-button-danger" @click="removeUser(usr)">Remove</button>
  </p>
      <button class="uk-button btnDanger uk-button-large" @click="CreateProject()">Create a project</button>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'

require('webpack-jquery-ui');

export default {
  name: 'CreateProject',
  data () {
    return {
      User: null,
      Profile: null,
      Project: {
          Admin: "",
          Title: "",
          CreatedTimestamp: new Date(),
          Users: {},
          Milestones: [],
          Description: ""
      },
      selected: null,
      Friends: [],
      SelectedFriends: []
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser()
      self.Project.Users[self.User.uid] = true
        $( function() {
        $( "#tags" ).autocomplete({
          minLength: 1,
          source: self.Friends,
          select: function(event, ui) { 
              self.selected = ui.item
              self.SelectedFriends.push(ui.item)
              var index = self.Friends.indexOf(self.selected);
              self.Friends.splice(index, 1);
              self.selected = ""
              return false;
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
            }
        });
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    CreateProject() {
      var self = this
      self.Project.Users[self.User.uid] = true
      self.SelectedFriends.forEach(function(element){
        self.Project.Users[element.value] = true
      })
      self.Project.Admin = self.User.uid
      var docRef = db.collection("projects").doc()
      docRef.set(self.Project)
      .then(function() {
        console.log("Project successfully written!");
        self.Project = []
        self.$router.push({name: 'Project', params: { id: docRef.id }})
      })
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
    },
    GetUser() {
      var self = this      
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
            self.Profile.Friends.forEach(function(element){
            self.GetProfile(element).then(function(result){
                var data = []
                data = {
                    "label" : result.Firstname + " " + result.Lastname,
                    "value" : result.UserID,
                }
              self.Friends.push(data)
            })
            })
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetProfile(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    removeUser(param) {
      var self = this
      var index = self.SelectedFriends.indexOf(param);
      self.SelectedFriends.splice(index, 1);
      self.Friends.push(param)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
.uk-input, textarea {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
</style>