<template>
  <div id="CreateEvent">
    <p class="uk-text-center mainTitle">Create an event</p>
<div id="TimestampCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Hey there!</h2>
        <p>It looks like your event finishes before it even starts! You should change it and try again.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
        </p>
    </div>
</div>
    <p class="uk-text-center uk-text-large">What is your event called?</p>
    <input class="uk-input btnDefault" type="text" v-model="Event.Name" placeholder="Name...">
    <p class="uk-text-center uk-text-large">What is your event about?</p>
    <textarea class="uk-textarea btnDefault" rows="5" placeholder="Description..." v-model="Event.Description" />
    <p class="uk-text-center uk-text-large">When does the event start?</p>
    <input class="uk-input btnDefault" type="datetime-local" v-model="Event.StartTimestamp">
    <p class="uk-text-center uk-text-large">When does the event end?</p>
    <input class="uk-input btnDefault" type="datetime-local" v-model="Event.EndTimestamp">
    <p class="uk-text-center uk-text-large">Invite some friends:</p>
    <input id="tags" class="uk-input btnDefault" type="text" v-model="selected" placeholder="Add a user..." >
  <p v-if="SelectedFriends.length > 0" v-for="usr in SelectedFriends" :key="usr.value">{{ usr.label }} 
      <button class="uk-button uk-button-danger" @click="removeUser(usr)">Remove</button>
  </p>
      <br><br><button class="uk-button btnDanger uk-button-large" @click="CheckTimestamps()">Create the Event</button>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

require('webpack-jquery-ui');

export default {
  name: 'CreateEvent',
  data () {
    return {
      User: null,
      Profile: null,
      Event: {
          AuthorID: "",
          ConversationID: "",
          CreatedTimestamp: new Date(),
          StartTimestamp: null,
          DeletedTimestamp: null,
          Description: null,
          EndTimestamp: null,
          ID: "",
          Name: "",
          UserStatus: "",
          UsersDeclined: [],
          UsersInvited: [],
          UsersGoing: [],
          UsersMaybe: [],
          Users: {}
      },
      selected: null,
      Friends: [],
      SelectedFriends: []
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser()
        $( function() {
        $( "#tags" ).autocomplete({
          minLength: 1,
          source: self.Friends,
          select: function(event, ui) { 
              self.selected = ui.item
              self.SelectedFriends.push(ui.item)
              var index = self.Friends.indexOf(self.selected);
              self.Friends.splice(index, 1);
              self.selected = ""
              return false;
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
            }
        });
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    CreateEvent() {
      console.log("created")
      var self = this
      self.Event.Users[self.User.uid] = true
      var targets = {}
      self.SelectedFriends.forEach(function(element){
        self.Event.UsersInvited.push(element.value)
        self.Event.Users[element.value] = true
        targets[element.value] = true
      })
      self.Event.CreatedTimestamp = new Date()
      self.Event.AuthorID = self.User.uid
      var docRef = db.collection("events").doc()
      docRef.set(self.Event)
      .then(function() {
        console.log("Document successfully written!");
        self.Conversation = []
        db.collection("notifications").doc().set({
          AuthorID: self.User.uid,
          CreatedTimestamp: new Date(),
          Description: "Event Invite",
          SeenTimestamp: null,
          SourceID: docRef.id,
          Status: null,
          Targets: targets,
          Type: "EventInvite"
        })
        .then(function() {
          console.log("Document successfully written!");
        self.$router.push({name: 'Event', params: { id: docRef.id }})
        })
        .catch(function(error) {
          console.error("Error writing document: ", error);
        });
      })
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
    },
    GetUser() {
      var self = this      
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
            self.Profile.Friends.forEach(function(element){
            self.GetProfile(element).then(function(result){
                var data = []
                data = {
                    "label" : result.Firstname + " " + result.Lastname,
                    "value" : result.UserID,
                }
              self.Friends.push(data)
            })
            })
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetProfile(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    removeUser(param) {
      var self = this
      var index = self.SelectedFriends.indexOf(param);
      self.SelectedFriends.splice(index, 1);
      self.Friends.push(param)
    },
    CheckTimestamps(){
      var self = this
      if(moment(self.Event.StartTimestamp).isBefore(self.Event.EndTimestamp)){
        self.CreateEvent()
      } else {
        UIkit.modal('#TimestampCheck').show();
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
.uk-input, textarea {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
</style>