<template>
  <div id="CreatePost">
    <p class="uk-text-center mainTitle">Create a post</p>
<div id="TimestampCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Hey there!</h2>
        <p>It looks like your event finishes before it even starts! You should change it and try again.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
        </p>
    </div>
</div>
    <p class="uk-text-center uk-text-large">Title:</p>
      <input class="uk-input btnDefault" type="text" v-model="Post.Title" placeholder="Title...">
    <p class="uk-text-center uk-text-large">Your post:</p>
      <textarea class="uk-textarea btnDefault uk-width-1-5" rows="5" placeholder="Write your post here..." v-model="Post.Content" />
    <p class="uk-text-center uk-text-large">Add an image:</p>
<div id="sizeAlert" class="uk-alert-danger" animation="true" duration="150" hidden uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>File is too large (max. 2MB)</p>
</div>
    <div class="js-upload" uk-form-custom>
      <input type="file" id="img" @change="addImg()" accept="image/*">
      <a uk-toggle uk-icon="icon: image; ratio: 1.5" tabindex="-1"></a>
      <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
    </div>
    <br>
      <button class="uk-button btnDanger uk-button-large" @click="checkFields()">Post</button>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'
import blobUtil from 'blob-util'

export default {
  name: 'CreatePost',
  data () {
    return {
      User: null,
      Post: {
          Title: null,
          Content: null,
          AuthorID: null,
          CreatedTimestamp: new Date(),
          DeletedTimestamp: null,
          PhotoURL: null,
          Comments: [],
          Favorites: {}
      },
      fileBlob : null,
      fileName : null
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    CreatePost() {
      var self = this
      self.Post.CreatedTimestamp = new Date()
      self.Post.AuthorID = self.User.uid
      var docRef = db.collection("posts").doc()
      docRef.set(self.Post)
      .then(function() {
        console.log("Document successfully written!");
        self.$router.push({name: 'Post', params: { id: docRef.id }})
      })
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
    },
    addImg() {
      var self = this
      var file = $('#img')[0].files[0];
      var fileReader = new FileReader();
      fileReader.onloadend = function (e) {
        var arrayBuffer = e.target.result;
        blobUtil.arrayBufferToBlob(arrayBuffer, file.type).then(function (blob) {
          console.log('here is a blob', blob);
          console.log('its size is', blob.size);
          console.log('its type is', blob.type);
          if(blob.size < 2500000){
            self.fileBlob = blob
            self.fileName = file.name
          } else {
            $("#sizeAlert").removeAttr("hidden")
          }
        }).catch(console.log.bind(console));
      };
      fileReader.readAsArrayBuffer(file);
    },
    uploadImg() {
      var self = this
      var param = self.fileBlob
      var param2 = self.fileName
      const ref = firebase.storage().ref();
      const file = param
      const name = (+new Date()) + '-' + param2
      const metadata = {
        contentType: file.type
      };
      const task = ref.child(name).put(file, metadata);
      task.then((snapshot) => {
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        $("#js-progressbar").removeAttr("hidden")
        $("#js-progressbar").value = progress
        console.log('Upload is ' + progress + '% done');
        const url = snapshot.downloadURL;
        self.Post.PhotoURL = url
        self.CreatePost()
      }).catch((error) => {
        console.error(error);
      });
    },
    checkFields(){
      var self = this
      if(self.fileName !== null){
        self.uploadImg()
      } else {
        self.CreatePost()
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
input, textarea {
  width: 80%;
  margin-left: 10%;
}
.js-upload {
  width: 10%;
  margin-left: 45%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
</style>