<template>
  <div id="CreateConversation">
    <p class="uk-text-center mainTitle">Create a conversation</p>
    <p class="uk-text-center uk-text-large">Add a name:</p>
      <input class="uk-input btnDefault" type="text" v-model="Conversation.Name" placeholder="Name...">
        <p class="uk-text-center uk-text-large">Add friends:</p>
            <input id="tags" class="uk-input btnDefault" type="text" v-model="selected" placeholder="Add a user..." >
  <p v-if="SelectedFriends.length > 0" v-for="usr in SelectedFriends" :key="usr.value">{{ usr.label }} 
      <button class="uk-button uk-button-danger" @click="removeUser(usr)">Remove</button>
  </p>
      <button class="uk-button uk-button-primary uk-button-large" @click="CreateConversation()">Create a conversation</button>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'

require('webpack-jquery-ui');

export default {
  name: 'CreateConversation',
  data () {
    return {
      User: null,
      Profile: null,
      Conversation: {
          Id: "",
          Admin: "",
          Color: "Blue",
          Messages: [
              {
                File: {
                  Name: "",
                  Type: "",
                  URL: ""
                },
                Text: "New conversation",
                Timestamp: new Date(),
                User: "system",
                UserID: "system"
              }
          ],
          Name: "",
          Read: {},
          Users: [],
          Users2: {},
          isTyping: ""
      },
      selected: null,
      Friends: [],
      SelectedFriends: []
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser()
        self.Conversation.Users.push(self.User.uid)
        $( function() {
        $( "#tags" ).autocomplete({
          minLength: 1,
          source: self.Friends,
          select: function(event, ui) { 
              self.selected = ui.item
              self.SelectedFriends.push(ui.item)
              var index = self.Friends.indexOf(self.selected);
              self.Friends.splice(index, 1);
              self.selected = ""
              return false;
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
            }
        });
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    CreateConversation() {
      var self = this
      self.Conversation.Users2[self.User.uid] = true
      self.SelectedFriends.forEach(function(element){
        self.Conversation.Users.push(element.value)
        self.Conversation.Users2[element.value] = true
      })
      self.Conversation.Messages[0].Timestamp = new Date()
      self.Conversation.Admin = self.User.uid
      var docRef = db.collection("conversations").doc()
      docRef.set(self.Conversation)
      .then(function() {
        console.log("Document successfully written!");
        var docRef2 = db.collection("typingDetector").doc(docRef.id)
        docRef2.set({
          'ConversationID': docRef.id,
          'isTyping': ''
        })
      .then(function() {
        console.log("Document successfully written!");
      })
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
        self.Conversation = []
        self.$router.push({name: 'Conversation', params: { id: docRef.id }})
      })
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
    },
    GetUser() {
      var self = this      
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
          self.Conversation.Messages[0].Text = "New conversation created by " + self.Profile.Firstname + " " + self.Profile.Lastname
            self.Profile.Friends.forEach(function(element){
            self.GetProfile(element).then(function(result){
                var data = []
                data = {
                    "label" : result.Firstname + " " + result.Lastname,
                    "value" : result.UserID,
                }
              self.Friends.push(data)
            })
            })
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetProfile(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    removeUser(param) {
      var self = this
      var index = self.SelectedFriends.indexOf(param);
      self.SelectedFriends.splice(index, 1);
      self.Friends.push(param)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
.uk-input, textarea {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
    width: 70%;
    margin-left: 15%;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
</style>