<template>
  <div id="Dashboard">
    <p class="uk-text-center mainTitle">Dashboard</p>
    <div class="container" v-if="Profile && Events">
  <div class="top-view">
    <div class="color-layer">
      <div class="header">
        <h1 v-if="parseInt(moment().format('HH')) >= 5 && parseInt(moment().format('HH')) < 12">Good morning, {{ Profile.Firstname }}!</h1>
        <h1 v-if="parseInt(moment().format('HH')) >= 12 && parseInt(moment().format('HH')) < 18">Good afternoon, {{ Profile.Firstname }}!</h1>
        <h1 v-if="parseInt(moment().format('HH')) >= 18 && parseInt(moment().format('HH')) < 21">Good evening, {{ Profile.Firstname }}!</h1>
        <h1 v-if="parseInt(moment().format('HH')) >= 21 || parseInt(moment().format('HH')) < 5">Good night, {{ Profile.Firstname }}!</h1>
        <div class="profile-container">
          <img v-bind:src="Profile.PhotoURL" alt="" class="profile main" />
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-view">
    <div class="week-container">
      <h4 class="uk-text-center">{{ moment().format('MMMM Do YYYY') }}</h4>
    </div>
    <p class="uk-text-center"><strong>Your new messages:</strong></p>
    <router-link to="/Messages" class="badge">
    <span class="uk-label uk-label-primary" v-if="unReadConv === 1">You have {{ unReadConv }} new message</span>
    <span class="uk-label uk-label-primary" v-if="unReadConv > 1">You have {{ unReadConv }} new messages</span>
    </router-link>
    <p v-if="unReadConv == 0" class="uk-text-center">You have no new messages</p>
    <p class="uk-text-center"><strong>Your events today:</strong></p>
    <div class="entry-container">
      <div v-if="Events" class="entry" v-for="event in Events" :key="event.ID">
        <div class="text">
          <span class="title">{{ event.Name }}</span>
          <span class="time">{{ getDate(event.StartTimestamp) }}</span>
          <span class="time">{{ event.Description }}</span>
          <span v-if="event.UserStatus === 1" class="uk-label uk-label-primary">Created by you</span>
          <span v-if="event.UserStatus === 2" class="uk-label uk-label-danger">Invited</span>
          <span v-if="event.UserStatus === 3" class="uk-label uk-label-success">Going</span>
          <span v-if="event.UserStatus === 4" class="uk-label uk-label-warning">Maybe</span>
        </div>
      </div>
      <p v-if="Events.length === 0" class="uk-text-center">You have no events planned today</p>
    </div>

    <p class="uk-text-center"><strong>Recent files:</strong></p>
  <ul v-if="orderedFiles" class="uk-grid-small uk-child-width-1-3 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-6@l uk-text-center listInline" uk-sortable="handle: .uk-card" uk-grid>
    <li v-for="file in orderedFiles" :key="file.Name">
        <div class="uk-child-width-1-1@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../assets/Files/excel.png" v-if="file.File.Type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                        <img src="../assets/Files/ppt.png" v-if="file.File.Type === 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
                            || file.File.Type === 'application/vnd.ms-powerpoint'">
                        <img src="../assets/Files/pdf.png" v-if="file.File.Type === 'application/pdf'">
                        <img src="../assets/Files/word.png" v-if="file.File.Type === 'application/msword'
                            || file.File.Type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                        <img src="../assets/Files/text.png" v-if="file.File.Type === 'text/plain'">
                        <img v-bind:src="file.File.URL" v-if="file.File.Type === 'img'">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="cardTitle">{{file.File.Name}}</h3>
                        <p v-if="file.User"><strong>Uploaded by:</strong><br> {{ file.User.Firstname }} {{ file.User.Lastname }}</p>
                        <p v-if="file.User"><strong>Date:</strong><br> {{ moment(file.Timestamp).format('MMMM Do YYYY, HH[h]mm') }}</p>
                        <p v-if="file.User"><strong>Size:</strong><br> {{ getSize(file.File.Size) }}</p>
                        <a v-bind:href="file.File.URL" v-bind:download="file.File.Name">
                            <span uk-icon="icon: cloud-download"></span> Download</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
  </ul>
  </div>
</div>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

export default {
  name: 'Dashboard',
  data () {
    return {
      Events: [],
      User: null,
      CurrentDay: parseInt(moment(new Date()).format('DD')),
      CurrentMonth: moment(new Date()).format('MMMM'),
      Profile: null,
      Starts: {
        startDay: moment().startOf('day'),
        endDay: moment().endOf('day')
      },
      Files: [],
      unReadConv: 0
    }
  },
  components: {
  },
  computed: {
  orderedFiles: function () {
    if(this.Files !== undefined){
      var crop = 3
      if(this.Files.length > 3) {
        crop = 3
      } else {
        crop = this.Files.length
      }
    return this._.orderBy(this.Files, ['Timestamp'], ['asc']).slice((this.Files.length - crop), this.Files.length)
    }
  },
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser2()
        self.GetEvents()
        self.GetConversations()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetEvents() {
      var self = this
      db.collection("events")
      .where("Users." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Events = []
        var cons = [];
        querySnapshot.forEach(function(doc) {
            var data = doc.data()
            data.ID = doc.id
            //data.StartTimestamp = self.getDate(data.StartTimestamp)
              if(data.AuthorID === self.User.uid && moment(data.StartTimestamp).isBetween(self.Starts.startDay, self.Starts.endDay)){
                data.UserStatus = 1
                self.Events.push(data)
              } else if(data.UsersInvited.indexOf(self.User.uid) !== -1 && moment(data.StartTimestamp).isBetween(self.Starts.startDay, self.Starts.endDay)){
                data.UserStatus = 2
                self.Events.push(data)
              } else if(data.UsersGoing.indexOf(self.User.uid) !== -1 && moment(data.StartTimestamp).isBetween(self.Starts.startDay, self.Starts.endDay)){
                data.UserStatus = 3
                self.Events.push(data)
              } else if(data.UsersMaybe.indexOf(self.User.uid) !== -1 && moment(data.StartTimestamp).isBetween(self.Starts.startDay, self.Starts.endDay)){
                data.UserStatus = 4
                self.Events.push(data)
              }
          });
        });
    },
    GetUser2() {
      var self = this
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    getDate(day){
      var moment = this.moment(day).calendar()
      return moment
    },
  GetConversations() {
      var self = this
      db.collection("conversations")
      .where("Users2." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.unReadConv = 0
        self.Files = []
        querySnapshot.forEach(function(doc) {
            var con = doc.data()
            con.Id = doc.id
            con.Messages.forEach(function(element){
                if(element.Text === '' && element.User !== 'system' && !element.SharedCon && !element.SharedEvent){
                    self.Files.push(element)
                }
            })
        var usr = self.Files
        usr.forEach(function(element){
            self.GetUser(element.UserID).then(function(result){
              element.User = result
            })
          })
          if(con.Read[self.User.uid] !== true){
            self.unReadConv++
          }
        });
        })
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    getSize(size){
        var self = this
        var realSize = null
        if(size<1024){
            realSize = size + 'B'
        } else if(size > 1024 && size < 1048576){
            realSize = Math.round(size/1024) + 'KB'
        } else if(size > 1048576){
            realSize = Math.round(size/1048576) + 'MB'
        }
        return realSize
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
// Variables
$black: #202020;
$white: #fff;
$grey: #909090;
$light-grey: #dadada;
$turquoise: #78D9C5;
$pink: #fc3768;

html,
body {
  height: 100%;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  margin: 30px auto 0;
  box-shadow: 0px 0px 5px $black;
  box-sizing: border-box;
  position: relative;
}

a {
  color: $black;
  text-decoration: none;
}

// Top View
.top-view {
  height: 50%;
  background: linear-gradient(45deg, #3498db, #e74c3c) no-repeat;
  background-size: cover;
  color: $white;
  h1 {
    font-weight: 100;
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1.5px;
    color: white;
  }
}

.color-layer {
  height: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  padding: 10px;
  display: block;
}

.header {
  position: relative;
  box-sizing: border-box;
}

.profile-container {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
}

.profile {
  border-radius: 50%;
  width: 40px;
  height: auto;
  &.main {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.month-selection {
  text-align: center;
  position: absolute;
  width: calc(100% - 40px);
  padding: 10px 0;
  bottom: 20px;
  box-sizing: border-box;
  span.month {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
  }
}

.bottom-view {
  height: 50%;
  overflow: hidden;
}

.week-container {
  //background-color: red;
  padding: 5px 20px;
}

ul.week {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

li.day {
  display: inline-block;
  width: 13%;
  height: 0;
  padding: 0 0 13%;
  font-weight: 300;
  box-sizing: border-box;
  position: relative;
  
  &.current {
    background: linear-gradient(45deg, #17ead9, #6078ea);
    border-radius: 50%;
  }
  
  span {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 26px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }
  
    &.day-names span {
    color: $grey;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.point::after{
    width:4px;
    height: 4px;
    background-color: $pink;
    content: '';
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -2px;
    border-radius: 50%;
  }

.entry{
  padding: 20px;
  border-top: 1px solid $light-grey;
  
  img{
    display: inline-block;
    margin-right: 15px;
  }
  
}

.text{
  display: inline-block;
  
}


.title{
  font-size: 16px;
  
  .name{
    font-weight: 500;
  }
}

.time{
  color: $grey;
  font-weight: 300;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.listInline > li {
    display: inline-block;
    vertical-align: top;
}
@media screen and (max-width: 640px) {
    .cardTitle {
        font-size: 12pt;
    }
    .uk-card-body > p {
        font-size: 8pt;
        margin-top: 10px;
    }

    .uk-card-body > a {
        margin-top: 10px;
    }
}
.mainTitle {
  color: #3498db;
  margin-top: 30px;
}
.badge > span {
  width: 40%;
  margin-left: 30%;
}
</style>
