<template>
<div id="menu">
    <img id="Logo" src="../assets/logoWhite.svg" @click="GoToPage('Dashboard')">
        <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
            <li>
                <router-link to="/Dashboard"><font-awesome-icon size="1x" :icon="['fas', 'tachometer-alt']" />Dashboard</router-link>
            </li>
            <li>
                <router-link to="/Messages"><font-awesome-icon size="1x" :icon="['fas', 'comments']" />Messages</router-link>
            </li>
            <li>
                <router-link to="/Calendar"><font-awesome-icon size="1x" :icon="['fas', 'calendar-alt']" />Calendar</router-link>
            </li>
            <li>
                <router-link to="/Friends"><font-awesome-icon size="1x" :icon="['fas', 'users']" />Social</router-link>
            </li>
            <li>
                <router-link to="/Notifications"><font-awesome-icon size="1x" :icon="['fas', 'bell']" />Notifications</router-link>
            </li>
            <li>
                <router-link to="/Timeline"><font-awesome-icon size="1x" :icon="['fas', 'th-large']" />Timeline</router-link>
            </li>
            <li>
                <router-link to="/MyPosts"><font-awesome-icon size="1x" :icon="['fas', 'archive']" />My Posts</router-link>
            </li>
            <li>
                <router-link to="/MyProjects"><font-awesome-icon size="1x" :icon="['fas', 'tasks']" />My Projects</router-link>
            </li>
            <li>
                <router-link to="/Profile"><font-awesome-icon size="1x" :icon="['fas', 'user']" />Profile</router-link>
            </li>
            <li>
                <router-link to="/MyFiles"><font-awesome-icon size="1x" :icon="['fas', 'folder-open']" />My files</router-link>
            </li>
        </ul>
        <button class="uk-button uk-button-secondary uk-button-large" @click="Logout()">Logout</button>
</div>
</template>

<script>
import firebase from 'firebase'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import '@fortawesome/fontawesome/styles.css'
import fontawesome from '@fortawesome/fontawesome'
import { faFileWord } from '@fortawesome/fontawesome-free-solid'
export default {
    name: "DesktopMenuComponent",
    components: {
        FontAwesomeIcon
    },
    methods: {
        Logout: function() {
            var self = this
            firebase.auth().signOut().then(function() {
                console.log('Logged out')
                self.$router.push({name: 'Frontpage'})
            }).catch(function(error) {
                console.log(error)
            });
        },
        GoToPage (page) {
            this.$router.push({name: page})
        },
    }
  }

</script>


<style scoped>
#menu {
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.uk-nav-primary > li > a {
    color: white;
}
.router-link-active {
    text-decoration: underline;
}
a > svg {
    padding-right: 10px;
    text-decoration: none;
}
#Logo {
    max-height: 150px;
    margin-bottom: 50px;
}
</style>