<template>
  <div id="Event">
    <p class="uk-text-center mainTitle">Event</p>
<div id="sharePost" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Share this event?</h2>
        <div class="uk-margin">
            <select class="uk-select" v-model="conID">
                <option value="none" disabled selected>Choose a conversation</option>
                <option v-for="con in Conversations" :key="con.ID" v-bind:value="con.ID">{{ con.Name }}</option>
            </select>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button btnDanger uk-modal-close" @click="sharePost()" type="button">Share</button>
        </p>
    </div>
</div>
<div id="TimestampCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Hey there!</h2>
        <p>It looks like your event finishes before it even starts! You should change it and try again.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">OK</button>
        </p>
    </div>
</div>
  <div class="uk-width-1-1" v-if="Event">
    <p class="uk-text-large uk-text-center" v-if="Edit">Name:</p>
    <h1 class="subtitle directMargin uk-text-center" v-if="!Edit"><span>{{ Event.Name }}</span></h1>
    <input class="uk-input" type="text" placeholder="Name..." v-if="Edit" v-model="Event.Name">
    <p class="uk-text-large uk-text-center">Description:</p>
    <p class="uk-text-small uk-text-center" v-if="!Edit">{{ Event.Description }}</p>
    <textarea class="uk-textarea uk-width-1-5" rows="5" placeholder="Description..." v-if="Edit" v-model="Event.Description" />
    <div class="row">
      <div class="column columnOne">
    <p class="uk-text-large uk-text-center" v-if="!Edit">Your status:</p>
          <span v-if="Event.UserStatus === 'Created' && !Edit" class="uk-label uk-label-primary">Created by you</span>
          <span v-if="Event.UserStatus === 'Invited' && !Edit" class="uk-label uk-label-danger">Invited</span>
          <span v-if="Event.UserStatus === 'Going' && !Edit" class="uk-label uk-label-success">Going</span>
          <span v-if="Event.UserStatus === 'Maybe' && !Edit" class="uk-label uk-label-warning">Maybe</span>
          <span v-if="Event.UserStatus === 'Declined' && !Edit" class="uk-label uk-label-danger">Declined</span>
          <span v-if="Event.Users[User.uid] !== true && !Edit" class="uk-label uk-label-danger">Not invited</span>
    <div class="uk-margin" v-if="Event && User && Event.AuthorID !== User.uid && Event.Users[User.uid] === true">
            <select class="uk-select" @change="changeStatus()" v-model="NewStatus">
                <option value="0" disabled selected><span class="uk-label uk-label-danger">Change your status</span></option>
                <option value="Going"><span class="uk-label uk-label-success">Going</span></option>
                <option value="Maybe"><span class="uk-label uk-label-warning">Maybe</span></option>
                <option value="Declined"><span class="uk-label uk-label-danger">Declined</span></option>
            </select>
        </div>
    <p class="uk-text-large uk-text-center" v-if="!Edit">Created:</p>
    <p class="uk-text-small uk-text-center" v-if="!Edit">{{ getTime(Event.CreatedTimestamp) }}</p>
    <p class="uk-text-large uk-text-center" v-if="Edit">Starts:</p>
    <input class="uk-input uk-width-1-5" type="datetime-local" v-if="Edit" v-model="Event.StartTimestamp">
      </div>
      <div class="column">
        <p class="uk-text-large uk-text-center" v-if="!Edit">Starts:</p>
    <p class="uk-text-small uk-text-center" v-if="!Edit">{{ getTime(Event.StartTimestamp) }}</p>
    <p class="uk-text-large uk-text-center">Ends:</p>
    <p class="uk-text-small uk-text-center" v-if="!Edit">{{ getTime(Event.EndTimestamp) }}</p>
    <input class="uk-input uk-width-1-5" type="datetime-local" v-if="Edit" v-model="Event.EndTimestamp">
      </div>
    </div>
    <p class="uk-text-large uk-text-center" v-if="!Edit">Created by:</p>
  <router-link class="uk-text-center users" v-if="Admin.length !== 0  && !Edit" :to="{ name: 'UserProfile', params: { id: Admin.UserID, type: 'event', source: EventID }}">
    <img class="uk-border-circle" width="32" height="32" v-bind:src="Admin.PhotoURL">
    {{ Admin.Firstname }} {{ Admin.Lastname}} <br>
  </router-link>
  <ul uk-accordion v-if="!Edit">
    <li class="uk-open">
      <a class="uk-accordion-title uk-text-large uk-text-center" href="#" v-if="!Edit">
        Invited: <span class="uk-badge">{{ ProfileInvited.length }}</span>
      </a>
      <div class="uk-accordion-content">
        <p class="uk-text-small uk-text-center" v-if="ProfileInvited.length === 0 && !Edit">No pending invitations</p>
        <router-link class="uk-text-center users" v-if="ProfileInvited.length !== 0 && !Edit" v-for="usr in ProfileInvited" :key="usr.UserID" :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'event', source: EventID }}">
          <img class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
          {{ usr.Firstname }} {{ usr.Lastname}} <br>
        </router-link>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title uk-text-large uk-text-center" href="#" v-if="!Edit">
        Going: <span class="uk-badge">{{ ProfileGoing.length }}</span>
      </a>
        <div class="uk-accordion-content">
          <p class="uk-text-small uk-text-center" v-if="ProfileGoing.length === 0 && !Edit">None</p>
          <router-link class="uk-text-center users" v-if="ProfileGoing.length !== 0 && !Edit" v-for="usr in ProfileGoing" :key="usr.UserID" :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'event', source: EventID }}">
            <img class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
            {{ usr.Firstname }} {{ usr.Lastname}} <br>
          </router-link>
        </div>
    </li>
    <li>
      <a class="uk-accordion-title uk-text-large uk-text-center" href="#" v-if="!Edit">
        Declined: <span class="uk-badge">{{ ProfileDeclined.length }}</span>
      </a>
        <div class="uk-accordion-content">
          <p class="uk-text-small uk-text-center" v-if="ProfileDeclined.length === 0 && !Edit">None</p>
          <router-link class="uk-text-center users" v-if="ProfileDeclined.length !== 0 && !Edit" v-for="usr in ProfileDeclined" :key="usr.UserID" :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'event', source: EventID }}">
          <img class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
            {{ usr.Firstname }} {{ usr.Lastname}} <br>
          </router-link>
        </div>
    </li>
    <li>
      <a class="uk-accordion-title uk-text-large uk-text-center" href="#" v-if="!Edit">
        Maybe: <span class="uk-badge">{{ ProfileMaybe.length }}</span>
      </a>
        <div class="uk-accordion-content">
          <p class="uk-text-small uk-text-center" v-if="ProfileMaybe.length === 0 && !Edit">None</p>
          <router-link class="uk-text-center users" v-if="ProfileMaybe.length !== 0 && !Edit" v-for="usr in ProfileMaybe" :key="usr.UserID" :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'event', source: EventID }}">
            <img class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
            {{ usr.Firstname }} {{ usr.Lastname}} <br>
          </router-link>
        </div>
    </li>
</ul>
    
  </div>
  <p v-if="Users && Edit" v-for="usr in NewUsers" :key="usr.UserID" class="usersEdit">
    <img v-if="usr.PhotoURL" class="uk-border-circle" width="32" height="32" v-bind:src="usr.PhotoURL">
    {{ usr.Firstname }} {{ usr.Lastname }} {{ usr.label }}
      <button class="uk-button btnDefault btnDanger" v-if="usr.UserID!==Admin.UserID" @click="removeUser(usr)">Remove</button>
  </p>
    <div v-if="Edit" class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input id="tags" class="uk-input friendInput" type="text" v-model="selected" placeholder="Add a user..." >
        </div>
    </div>
  <p class="uk-text-center uk-text-small" v-if="Edit">
    Warning: If you edit an event, all the users that already responded to the invitations will have be reinvited.</p>
  <button class="uk-button btnDefault btnEdit2 btnEdit21" @click="Edit = true, activateAutoComplete()" v-if="User && User.uid===Admin.UserID && Edit === false">Edit</button>
  <button class="uk-button btnDefault btnEdit" @click="CheckTimestamps()" v-if="Edit === true">OK</button>
  <button class="uk-button btnDefault btnEdit2" @click="sharePrompt()" v-if="!Edit">Share</button>
</div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import '@fortawesome/fontawesome/styles.css';
import fontawesome from '@fortawesome/fontawesome';

fontawesome.config = {
  autoAddCss: true,
};

export default {
  name: 'Event',
  data () {
    return {
      User: null,
      Event: null,
      EventCopy: null,
      Edit: false,
      EventID: null,
      Users: [],
      NewUsers: [],
      Friends: [],
      SelectedFriends: [],
      selected: null,
      Admin: [],
      ProfileGoing: [],
      ProfileInvited: [],
      ProfileMaybe: [],
      ProfileDeclined: [],
      NewStatus: 0,
      Conversations: [],
      conID: "none"
    }
  },
  components: {
    FontAwesomeIcon
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetAuthUser()
        self.EventID = self.$route.params.id
        self.GetEvent()
        self.GetConversations()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  mounted() {
    $("#startDate").datepicker().on(
     		"changeDate", () => {this.startDate = $('#startDate').val()}
		);
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    GetEvent() {
      var self = this
      db.collection("events")
      .doc(self.EventID)
      .onSnapshot(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Event = doc.data()
          self.EventCopy = doc.data()
          self.Event.ID = doc.id
          self.Event.StartTimestamp = moment(self.Event.StartTimestamp).format('YYYY-MM-DDTHH:mm')
          self.Event.EndTimestamp = moment(self.Event.EndTimestamp).format('YYYY-MM-DDTHH:mm')
          var usrsIn = self.Event.UsersInvited
          var usrsDec = self.Event.UsersDeclined
          var usrsGo = self.Event.UsersGoing
          var usrsMa = self.Event.UsersMaybe
          if(self.Users.length === 0){
            usrsIn.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
              self.NewUsers.push(result)
              self.ProfileInvited.push(result)
            })
          })
            usrsDec.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
              self.NewUsers.push(result)
              self.ProfileDeclined.push(result)
            })
          })
            usrsGo.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
              self.NewUsers.push(result)
              self.ProfileGoing.push(result)
            })
          })
            usrsMa.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
              self.NewUsers.push(result)
              self.ProfileMaybe.push(result)
            })
          })
          }
          self.GetUser(self.Event.AuthorID).then(function(result){
            self.Admin = []
            self.Admin = result
            })
            if(self.Event.AuthorID === self.User.uid){
                self.Event.UserStatus = "Created"
              } else if(self.Event.UsersInvited.indexOf(self.User.uid) !== -1){
                self.Event.UserStatus = "Invited"
              } else if(self.Event.UsersGoing.indexOf(self.User.uid) !== -1){
                self.Event.UserStatus = "Going"
              } else if(self.Event.UsersMaybe.indexOf(self.User.uid) !== -1){
                self.Event.UserStatus = "Maybe"
              } else if(self.Event.UsersDeclined.indexOf(self.User.uid) !== -1){
                self.Event.UserStatus = "Declined"
              }
        })
    },
    UpdateEvent() {
      var self = this
      var Users = []
      var Users2 = {}
      Users2[self.User.uid] = true
      self.NewUsers.forEach(function(element){
        Users.push(element.UserID)
        Users2[element.UserID] = true
      })
      db.collection("events").doc(self.EventID).update({
        "Name": self.Event.Name,
        "Description": self.Event.Description,
        "StartTimestamp": self.Event.StartTimestamp,
        "EndTimestamp": self.Event.EndTimestamp,
        "UsersInvited": Users,
        "UsersDeclined": [],
        "UsersGoing": [],
        "UsersMaybe": [],
        "Users": Users2
      })
      .then(function() {
        self.Event.UsersInvited = Users
        self.Users = []
        self.NewUsers = []
          var usrs = self.Event.UsersInvited
            usrs.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Users.push(result)
              self.NewUsers.push(result)
            })
          })
        console.log("Event successfully updated!");
      });
      self.Edit = false
    },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    getTime(param){
      return moment(param).format('MMMM Do YYYY, HH[h]mm')
    },
    activateAutoComplete(){
      var self = this
        $( function() {
        $( "#tags" ).autocomplete({
          minLength: 1,
          source: self.Friends,
          select: function(event, ui) { 
              self.selected = ui.item
              self.SelectedFriends.push(ui.item)
              self.NewUsers.push(ui.item)
              var index = self.Friends.indexOf(self.selected);
              self.Friends.splice(index, 1);
              self.selected = ""
              return false;
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
            }
        });
    },
    GetAuthUser() {
      var self = this      
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
            self.Profile.Friends.forEach(function(element){
            self.GetProfile(element).then(function(result){
                var data = []
                data = {
                    "label" : result.Firstname + " " + result.Lastname,
                    "UserID" : result.UserID,
                }
              if(self.EventCopy.UsersDeclined.indexOf(result.UserID)===-1 
              || self.EventCopy.UsersGoing.indexOf(result.UserID)===-1 
              || self.EventCopy.UsersInvited.indexOf(result.UserID)===-1 
              || self.EventCopy.UsersMaybe.indexOf(result.UserID)===-1){
                self.Friends.push(data)
              }
            })
            })
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetProfile(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    removeUser(param) {
      var self = this
      var index = self.NewUsers.indexOf(param);
      var index2 = self.SelectedFriends.indexOf(param);
      self.SelectedFriends.splice(index2, 1);
      self.NewUsers.splice(index, 1);
        var userIds = []
        self.Friends.forEach(function(element){
          userIds.push(element.UserID)
        })
      if(param.Firstname!==undefined){
        var data = []
        data = {
          "label" : param.Firstname + " " + param.Lastname,
          "UserID" : param.UserID,
        }
        if(userIds.length===0 || userIds.indexOf(data)===-1){
          console.log('index of data1: ' + userIds.indexOf(data))
          self.Friends.push(data)
        } else {
          console.log('already in the array - index of data2: ' + userIds.indexOf(data))
        }
      } else if(userIds.length===0 && userIds.indexOf(param)!==-1) {
        console.log('index of param3: ' + userIds.indexOf(param))
        self.Friends.push(param)
      } else {
        console.log('index of param4: ' + userIds.indexOf(param))
        self.Friends.push(param)
      }
    },
    cancelEdit(){
      var self = this
      self.Event = self.EventCopy
      self.NewUsers = []
      self.Users.forEach(function(element){
        self.NewUsers.push(element)
      })
      self.Edit = false
      self.Friends = []
      self.Profile.Friends.forEach(function(element){
      self.GetProfile(element).then(function(result){
          var data = []
          data = {
              "label" : result.Firstname + " " + result.Lastname,
              "UserID" : result.UserID,
          }
        if(self.ConversationCopy.Users.indexOf(result.UserID)===-1){
          self.Friends.push(data)
        }
      })
      })
      self.newColor = self.Conversation.Color
    },
    CheckTimestamps(){
      var self = this
      if(moment(self.Event.StartTimestamp).isBefore(self.Event.EndTimestamp)){
        self.UpdateEvent()
      } else {
        UIkit.modal('#TimestampCheck').show();
      }
    },
    changeStatus(){
      var self = this
      console.log(self.NewStatus)
      self.resetUser()
      if(self.NewStatus === 'Going' && self.Event.UserStatus !== 'Going'){
        self.Event.UsersGoing.push(self.User.uid)
        self.pushNewUserstatus()
      } else if (self.NewStatus === 'Maybe' && self.Event.UserStatus !== 'Maybe'){
        self.Event.UsersMaybe.push(self.User.uid)
        self.pushNewUserstatus()
      } else if (self.NewStatus === 'Declined' && self.Event.UserStatus !== 'Declined'){
        self.Event.UsersDeclined.push(self.User.uid)
        self.pushNewUserstatus()
      }
    },
    resetUser() {
      var self = this
      switch(self.Event.UserStatus) {
        case "Invited":
          var index = self.Event.UsersInvited.indexOf(self.User.uid)
          self.Event.UsersInvited.splice(index, 1);
          break;
        case "Going":
          var index = self.Event.UsersGoing.indexOf(self.User.uid)
          self.Event.UsersGoing.splice(index, 1);
          break;
        case "Maybe":
          var index = self.Event.UsersMaybe.indexOf(self.User.uid)
          self.Event.UsersMaybe.splice(index, 1);
          break;
        case "Declined":
          var index = self.Event.UsersDeclined.indexOf(self.User.uid)
          self.Event.UsersDeclined.splice(index, 1);
          break;
      }
    },
    pushNewUserstatus() {
      var self = this
      db.collection("events").doc(self.EventID).update({
        "UsersInvited": self.Event.UsersInvited,
        "UsersDeclined": self.Event.UsersDeclined,
        "UsersGoing": self.Event.UsersGoing,
        "UsersMaybe": self.Event.UsersMaybe
      })
      .then(function() {
        console.log("Event successfully updated!");
      });
    },
    sharePrompt(){
      UIkit.modal('#sharePost').show();
    },
    GetConversations() {
      var self = this
      db.collection("conversations")
      .where("Users2." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Conversations = []
        querySnapshot.forEach(function(doc) {
          if(doc.data().Name !== ""){
            var con = {
              "Name": doc.data().Name,
              "ID": doc.id
            }
            self.Conversations.push(con)
          } else {
            var con = {
              "Name": null,
              "ID": doc.id
            }
            if(doc.data().Users[0] !== self.User.uid){
              self.GetUser(doc.data().Users[0]).then(function(result){
                con.Name = result.Firstname + " " + result.Lastname
                self.Conversations.push(con)
              })
            }
            if(doc.data().Users[1] !== self.User.uid){
              self.GetUser(doc.data().Users[1]).then(function(result){
                con.Name = result.Firstname + " " + result.Lastname
                self.Conversations.push(con)
              })
            }
          }
        });
        })
    },
    sharePost(){
      var self = this
      var convers = null
      db.collection("conversations")
      .doc(self.conID)
      .get().then(function(doc) {
      if (doc.exists) {
        convers = doc.data()
      var data = []
      data = {
          "File": {
            "Name": "",
            "Type": "",
            "URL": ""
          },
        "SharedEvent": self.EventID,
        "Text" : "",
        "User" : self.User.uid,
        "UserID" : self.User.uid,
        "Timestamp" : new Date()
      }
      convers.Messages.push(data)
        var Read = {}
        Read[self.User.uid] = true
      db.collection("conversations").doc(self.conID).update({
        "Messages": convers.Messages,
        "Read": Read
      })
      .then(function() {
        console.log("Document successfully written!");
      })
      .catch(function(error) {
          console.error("Error writing document: ", error);
      });
      } else {
        console.log("No such document!");
      }
      }).catch(function(error) {
        console.log("Error getting document:", error);
      });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainTitle {
  color: #3498db;
  margin-top: 30px;
}
.subtitle {
  background-image: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 30pt;
  margin-bottom: 0;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.columnOne {
  border-right: #3498db solid 1px;
  padding-right: 2px;
}
.uk-text-small {
  margin: 0;
  margin-bottom: 10px;
}
.row2 {
  margin-top: 20px;
}
.uk-accordion-title::after {
  display: none;
}
.uk-accordion > li {
  border-bottom: 1px solid #3498db;
}
.uk-open {
  background: -webkit-linear-gradient(45deg,#3498db, #e74c3c);
  margin: 0;
}
.uk-open > div > a, .uk-open > a, .uk-accordion > li > div > p {
  color: white;
}
.uk-label {
  width: 50%;
  margin-left: 20%
}
.users {
  width: 50%;
  margin-left: 30%;
}
.usersEdit {
  margin-left: 30%;
}
input {
  width: 100%;
}
.friendInput {
  width: 80vw;
  margin-left: 10vw;
}
textarea {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.btnEdit {
  width: 30%;
  margin-left: 35%;
}
.btnEdit2 {
  width: 30%;
  margin: 20px 0 20px 2%;
}
.btnEdit21 {
  margin-left: 18%
}
.uk-badge {
  margin-top: -5px;
}
</style>
