<template>
  <div id="Friends">
    <p class="uk-text-center mainTitle">Social</p>
    <button id="btnFriends" class="uk-flex-middle uk-button btnPrimary" @click="filter='Friends', checkFilter()">Friends 
      <span class="uk-badge">{{ Friends.length }}</span></button>
    <button id="btnFollowing" class="uk-flex-middle uk-button btnDefault" @click="filter='Following', checkFilter()">Following 
      <span class="uk-badge">{{ Following.length }}</span></button>
    <button id="btnFollowers" class="uk-flex-middle uk-button btnDefault" @click="filter='Followers', checkFilter()">Followers 
      <span class="uk-badge">{{ Followers.length }}</span></button>
<div id="TimestampCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Are you sure?</h2>
        <p>It looks like you're about to remove a user from your list.
            <br>Are you sure you want to do that?
            <br>But don't worry:
            <ul>
              <li>You can still send them a new request later.</li>
              <li>This action does not unfollow.</li>
              <li>All you active conversations will stay active.</li>
              <li>And all your shared files will remain accessible.</li>
            </ul>
        </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button" @click="removeFriend()">Remove</button>
        </p>
    </div>
</div>
    <div v-if="Profile && filter==='Friends'">
      <div v-for="usr in Friends" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwo">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
        <div class="column colThree">
          <button class="uk-button btnDanger" @click="CheckControl(usr)">Remove</button>
        </div>
      </div>
    </div>
    <div v-if="Profile && filter==='Following'">
      <div v-for="usr in Following" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwoFollowing">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
        <div class="column colThreeFollowing">
          <button class="uk-button btnDanger" @click="unFollow(usr.UserID)">Unfollow</button>
        </div>
      </div>
    </div>
    <div v-if="Profile && filter==='Followers'">
      <div v-for="usr in Followers" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwoFollower">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
      </div>
    </div>
    <button v-if="Profile" class="uk-button btnDefault btnAdd uk-button-large" @click="GoToPage('SearchUsers')">Add a user</button>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

export default {
  name: 'Friends',
  data () {
    return {
      Friends: [],
      User: null,
      Profile: null,
      deleteUser: null,
      UserID: null,
      filter: 'Friends',
      Following: [],
      Followers: []
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser(self.User.uid).then(function(result){
              self.Profile = result
              result.Friends.forEach(function(element){
                self.GetUser(element).then(function(result){
                  self.Friends.push(result)
                })
              })
              Object.keys(result.Following).forEach(function(element){
                  self.GetUser(element).then(function(result){
                  self.Following.push(result)
                })
              })
            })
            self.checkFilter()
            self.getFollowers()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
          user.docID = doc.id
          if(self.User.uid === user.UserID){
              self.UserID = doc.id
          }
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    getDate(day){
      var moment = this.moment(day).calendar()
      return moment
    },
    getFollowers(){
      var self = this
      db.collection("users")
      .where("Following." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Followers = []
        querySnapshot.forEach(function(doc) {
            self.Followers.push(doc.data())
        });
        })
    },
    removeFriend() {
      var self = this
      var newFriends = self.Profile.Friends
      var index = newFriends.indexOf(self.deleteUser.UserID)
      newFriends.splice(index, 1);
      db.collection("users").doc(self.UserID).update({
        "Friends": newFriends
      })
      .then(function() {
        console.log("Removed user: " + self.deleteUser.UserID);
        var newFriends2 = self.deleteUser.Friends
        var index = newFriends2.indexOf(self.Profile.UserID)
        newFriends2.splice(index, 1);
        db.collection("users").doc(self.deleteUser.docID).update({
          "Friends": newFriends2
        })
        .then(function() {
          console.log("Removed user: " + self.Profile.UserID);
        })
        self.Friends.forEach(function(element){
            if(element.UserID === self.deleteUser.UserID){
                var index2 = self.Friends.indexOf(element)
                self.Friends.splice(index2, 1);
            }
        })
      });
    },
    CheckControl(param){
        var self = this
        self.deleteUser = param
        UIkit.modal('#TimestampCheck').show();
    },
    checkFilter() {
        $("#btnFriends").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnFollowing").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnFollowers").removeClass('btnPrimary').addClass('btnDefault')
        if(this.filter === "Friends"){
            $("#btnFriends").removeClass('btnDefault').addClass('btnPrimary')
        } else if(this.filter === "Following") {
            $("#btnFollowing").removeClass('btnDefault').addClass('btnPrimary')
        } else if (this.filter === 'Followers') {
            $("#btnFollowers").removeClass('btnDefault').addClass('btnPrimary')
        }
    },
    unFollow(param) {
      var self = this
      console.log("unfollowing: " + param)
      delete self.Profile.Following[param]
      var index = self.Following.indexOf(self.Following.filter(x => x.UserID === param)[0])
        self.Following.splice(index, 1)
      db.collection("users").doc(self.UserID).update({
        "Following": self.Profile.Following
      })
      .then(function() {
        console.log("unfollowed: " + param);
      });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.btnPrimary {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDanger {
    color: white;
    background: #e74c3c;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#btnFriends, #btnFollowing, #btnFollowers {
  margin-top: 50px;
    width: 32%;
    height: 70px;
}
.btnPrimary > .uk-badge {
  background: white;
  color: #3498db;
}
.btnDefault > .uk-badge {
    background: #3498db;
  color: white;
}
#btnFriends {
    margin-left: 5px;
}
.inline > button {
  margin-top: 17px;
  margin-right: 5px;
}
.line {
  display: block;
  margin: 0;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.lastMessage {
  margin-top: 3px;
  float: left;
  width: 100%;
}
.conTitle {
  font-size: 20pt;
  font-weight: 600;
}
.lastTime {
  float: right;
}
.bottomMargin {
  margin-bottom: 50px;
}
img {
  float: left;
}
.alignRight {
  margin-left: 70px;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row {
  height: 100px;
  border-bottom: #3498db solid 1px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.colOne {
  width: 15%;
  padding-top: 10px;
}
.colTwo {
  width: 55%;
}
.colTwoFollowing {
  width: 50%;
}
.colTwoFollower {
  width: 75%;
}
.colThreeFollowing {
  width: 25%;
}
.colThree {
  width: 20%;
}
.btnAdd {
  width: 50%;
  margin-left: 25%;
}
</style>
