<template>
  <div id="Frontpage">
    <img src="../assets/Logo.svg">
    
<button class="uk-button uk-button-default uk-button-large uk-align-center" @click="GoToPage('Login')">Login</button>
<button class="uk-button uk-button-default uk-button-large uk-align-center" @click="GoToPage('Register')">Register</button>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'Frontpage',
  data () {
    return {
    }
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.GoToPage('Dashboard')
      }
    });
  },
  methods: {
    GoToPage (page) {
      this.$router.push({name: page})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
#Frontpage {
  background: linear-gradient(45deg, #3498db, #e74c3c);
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}
h1 {
  font-size: 80pt;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 700;
}
img {
    margin-left: 30%;
    width: 40%;
}
.menuIcon {
  color: white !important;
}
</style>
