<template>
  <div id="Login">
    <p class="uk-text-center mainTitle">Login</p>
    <input class="uk-input btnDefault firstInput" type="text" v-model="Email" placeholder="Email...">
    <input class="uk-input btnDefault" type="password" v-model="Pass" placeholder="Password...">
    <button class="uk-button btnDanger uk-button-large" @click="SignIn()">Login</button>
<p class="uk-text-center">Don't have an account yet? <router-link to="Register">Register</router-link></p>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'Login',
  data () {
    return {
      Email: '',
      Pass: ''
    }
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.$router.push({name: 'Dashboard'})
      }
    });
  },
  methods: {
    SignIn: function() {
      console.log("Sign in activated")
      firebase.auth().signInWithEmailAndPassword(this.Email, this.Pass).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        console.log(error.code)
        console.log(error.message)
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.uk-form-icon {
    color: linear-gradient(45deg, #17ead9, #6078ea);
}
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
input, textarea {
  width: 80%;
  margin-left: 10%;
}
.js-upload {
  width: 10%;
  margin-left: 45%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
    margin-bottom: 20px;
}
.firstInput {
  margin-top: 20vh;;
}
</style>
