<template>
<div>
    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column" id="menu">
    <img id="Logo" src="../assets/logoWhite.svg" @click="GoToPage('Dashboard')">
        <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
            <li>
                <router-link to="/Dashboard"><font-awesome-icon size="1x" :icon="['fas', 'tachometer-alt']" />Dashboard</router-link>
            </li>
            <li>
                <router-link to="/Messages"><font-awesome-icon size="1x" :icon="['fas', 'comments']" />Messages</router-link>
            </li>
            <li>
                <router-link to="/Calendar"><font-awesome-icon size="1x" :icon="['fas', 'calendar-alt']" />Calendar</router-link>
            </li>
            <li>
                <router-link to="/Friends"><font-awesome-icon size="1x" :icon="['fas', 'users']" />Social</router-link>
            </li>
            <li>
                <router-link to="/Notifications"><font-awesome-icon size="1x" :icon="['fas', 'bell']" />Notifications</router-link>
            </li>
            <li>
                <router-link to="/Timeline"><font-awesome-icon size="1x" :icon="['fas', 'th-large']" />Timeline</router-link>
            </li>
            <li>
                <router-link to="/MyPosts"><font-awesome-icon size="1x" :icon="['fas', 'archive']" />My Posts</router-link>
            </li>
            <li>
                <router-link to="/MyProjects"><font-awesome-icon size="1x" :icon="['fas', 'tasks']" />My Projects</router-link>
            </li>
            <li>
                <router-link to="/Profile"><font-awesome-icon size="1x" :icon="['fas', 'user']" />Profile</router-link>
            </li>
            <li>
                <router-link to="/MyFiles"><font-awesome-icon size="1x" :icon="['fas', 'folder-open']" />My files</router-link>
            </li>
        </ul>
      <button class="uk-button btnDefault uk-button-large" @click="Logout()">Logout</button>
      </div>
    </div>
    <a class="menuIcon" href="#offcanvas-nav-primary" uk-toggle uk-icon="icon: table; ratio: 2">
    </a>
</div>
</template>

<script>
import firebase from 'firebase'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import '@fortawesome/fontawesome/styles.css'
import fontawesome from '@fortawesome/fontawesome'
import { faFileWord } from '@fortawesome/fontawesome-free-solid'

export default {
    name: "MenuComponent",
    components: {
        FontAwesomeIcon
    },
    methods: {
        Logout: function() {
            var self = this
            firebase.auth().signOut().then(function() {
                console.log('Logged out')
                self.$router.push({name: 'Frontpage'})
            }).catch(function(error) {
                console.log(error)
            });
        },
        GoToPage (page) {
            this.$router.push({name: page})
        }
    }
  }

</script>

<style scoped>
#menu {
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.uk-nav-primary > li > a {
    color: white;
}
.router-link-active {
    text-decoration: underline;
}
a > svg {
    padding-right: 10px;
    text-decoration: none;
}
.menuIcon {
  position: fixed;
  top: 2%; left: 5%;
  color: #6078ea;
  z-index: 1;
}
#Logo {
    max-height: 150px;
    margin-bottom: 30px;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
</style>