<template>
  <div id="Messages">
    <p class="uk-text-center mainTitle">Messages</p>
    <div class='inline'>
    <h3 class="subtitle subCon">Conversations</h3>
    <button class="uk-button btnDefault uk-button-large" @click="GoToPage('CreateConversation')">New</button>
    </div>
    <div v-if="Conversations">
        <div v-for="con in Conversations" :key="con.Id">
          <div class="line">
          <font-awesome-icon v-if="con.Encrypted === true" size="1x" :icon="['fas', 'lock']" />
          <router-link :to="{ name: 'Conversation', params: { id: con.Id }}" class="conTitle">
            {{ con.Name }} <span class="uk-label uk-label-primary" v-if="!con.Read || (con.Read && con.Read[User.uid] !== true)">New Messages</span>
          </router-link>
          <div class="bottomMargin">
          <p class="lastMessage" v-if="con.Messages[con.Messages.length-1].UserID === User.uid">You: {{ con.Messages[con.Messages.length-1].Text}}</p>
          <p class="lastMessage" v-if="con.Messages[con.Messages.length-1].UserID !== User.uid 
          && con.Messages[con.Messages.length-1].UserID !== 'system'">{{ con.Messages[con.Messages.length-1].User.Firstname }}: {{ con.Messages[con.Messages.length-1].Text}}</p>
          <p class="lastMessage lastTime">{{ getDate(con.Messages[con.Messages.length-1].Timestamp) }}</p>
          </div>
          </div>
        <hr>
        </div>
    </div>
    <h3 class="subtitle directMargin">Direct Messages</h3>
    <div v-if="PrivateConversations">
        <div v-for="con in PrivateConversations" :key="con.Id">
          <div class="line">
          <img v-if="con.Users.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="con.Users.PhotoURL">
          <div class="alignRight">
          <font-awesome-icon v-if="con.Encrypted === true" size="1x" :icon="['fas', 'lock']" />
          <router-link :to="{ name: 'Conversation', params: { id: con.Id }}" :key="con.Users.UserID" class="conTitle">
            {{ con.Users.Firstname }} {{ con.Users.Lastname }} <span class="uk-label uk-label-primary" v-if="!con.Read || (con.Read && con.Read[User.uid] !== true)">New Messages</span>
          </router-link>
          <div class="bottomMargin">
          <p class="lastMessage" v-if="con.Messages[con.Messages.length-1].UserID === User.uid && con.Encrypted !== true">You: {{ con.Messages[con.Messages.length-1].Text}}</p>
          <p class="lastMessage" v-if="con.Messages[con.Messages.length-1].UserID !== User.uid && con.Encrypted !== true
           && con.Messages[con.Messages.length-1].UserID !== 'system'">{{ con.Messages[con.Messages.length-1].User.Firstname }}: {{ con.Messages[con.Messages.length-1].Text}}</p>
          <p class="lastMessage lastTime">{{ getDate(con.Messages[con.Messages.length-1].Timestamp) }}</p>
        </div>
          </div>
          </div>
        <hr>
        </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import '@fortawesome/fontawesome/styles.css';
import fontawesome from '@fortawesome/fontawesome';

fontawesome.config = {
  autoAddCss: true,
};

export default {
  name: 'Messages',
  data () {
    return {
      Conversations: [],
      PrivateConversations: [],
      User: null
    }
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetConversations()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  components: {
    FontAwesomeIcon,
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetConversations() {
      var self = this
      db.collection("conversations")
      .where("Users2." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Conversations = []
        self.PrivateConversations = []
        var cons = [];
        querySnapshot.forEach(function(doc) {
            var con = doc.data()
          con.Id = doc.id
          var mes = con.Messages[con.Messages.length-1]
            self.GetUser(mes.UserID).then(function(result){
              mes.User = result
            })
            if(!con.isPrivate){
              self.Conversations.push(con)
            } else {
              if(con.Users[0] !== self.User.uid){
                self.GetUser(con.Users[0]).then(function(result){
                  con.Users = result
                  self.PrivateConversations.push(con)
                })
              } else if (con.Users[1] !== self.User.uid){
                self.GetUser(con.Users[1]).then(function(result){
                  con.Users = result
                  self.PrivateConversations.push(con)
                })
              }
            }
        })
      })
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    getDate(day){
      var moment = this.moment(day).calendar()
      return moment
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.mainTitle {
  color: #3498db;
  margin-top: 30px;
}
.subtitle {
  background-image: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 30pt;
  margin-bottom: 0;
  max-width: 70%;
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 29%;
    float: right;
}
.inline {
  margin-top: 40px;
  height: 60px;
  margin-bottom: 20px;
}
.directMargin {
  margin-bottom: 20px;
}
.subCon {
  float: left;
}
.inline > button {
  margin-top: 17px;
  margin-right: 5px;
}
.line {
  display: block;
  margin: 0;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.lastMessage {
  margin-top: 3px;
  float: left;
}
.conTitle {
  font-size: 20pt;
  font-weight: 600;
}
.lastTime {
  float: right;
}
.bottomMargin {
  margin-bottom: 50px;
}
img {
  float: left;
}
.alignRight {
  margin-left: 70px;
}
</style>
