<template>
  <div id="MyPosts">
    <p class="uk-text-center mainTitle">My posts</p>
    <button class="uk-button btnDefault btnAdd uk-button-large" @click="GoToPage('CreatePost')">Create a new post</button><br>
    <button id="btnNone" class="uk-flex-middle uk-button btnPrimary" @click="filter='none', checkFilter()">My Posts 
      <span class="uk-badge">{{ Posts.length }}</span></button>
    <button id="btnFavorites" class="uk-flex-middle uk-button btnDefault" @click="filter='favorites', checkFilter()">Favorites 
      <span class="uk-badge">{{ Favorites.length }}</span></button>
    <button id="btnTrash" class="uk-flex-middle uk-button btnDefault" @click="filter='trash', checkFilter()">Trash<br>
      <span class="uk-badge">{{ Trash.length }}</span></button>

<div class="main-wrapper" v-if="filter === 'none'">
  <div class="blog-post-wrapper" v-for="post in orderedPosts" :key="post.Id">
    <div class="blog-post" v-if="post">
      <figure class="blog-post--image" v-if="post.PhotoURL">
        <img v-bind:src="post.PhotoURL" alt="" />
      </figure>
      <div class="blog-post--description">
        <h3>{{ post.Title }}<br><span v-bind:uk-tooltip="moment(post.CreatedTimestamp).format('MMMM Do YYYY, HH[h]mm')">{{ moment(post.CreatedTimestamp).fromNow() }}</span></h3>
        <h4>Written by {{ post.Author.Firstname }} {{ post.Author.Lastname }}</h4>
        <p v-html="urlify(post.Content)"></p>
      </div>
      <div class="blog-post--tools uk-text-center">
        <router-link :key="post.Id" :to="{ name: 'Post', params: { id: post.Id }}">Read more</router-link>
      </div>
    </div>
  </div>
    <button v-if="PostsCounter > 0" @click="PostsCount += 10" uk-text-center >Load more messages ({{ PostsCounter }} left)</button>
</div>
<div class="main-wrapper" v-if="filter === 'favorites'">
  <div class="blog-post-wrapper" v-for="post in orderedFav" :key="post.Id">
    <div class="blog-post" v-if="post">
      <figure class="blog-post--image" v-if="post.PhotoURL">
        <img v-bind:src="post.PhotoURL" alt="" />
      </figure>
      <div class="blog-post--description">
        <h3>{{ post.Title }}<br><span v-bind:uk-tooltip="moment(post.CreatedTimestamp).format('MMMM Do YYYY, HH[h]mm')">{{ moment(post.CreatedTimestamp).fromNow() }}</span></h3>
        <h4>Written by {{ post.Author.Firstname }} {{ post.Author.Lastname }}</h4>
        <p v-html="urlify(post.Content)"></p>
      </div>
      <div class="blog-post--tools uk-text-center">
        <router-link :key="post.Id" :to="{ name: 'Post', params: { id: post.Id }}">Read more</router-link>
      </div>
    </div>
  </div>
    <button v-if="PostsCounter > 0" @click="PostsCount += 10" uk-text-center >Load more messages ({{ PostsCounter }} left)</button>
</div>
<div class="main-wrapper" v-if="filter === 'trash'">
  <div class="blog-post-wrapper" v-for="post in orderedTrash" :key="post.Id">
    <div class="blog-post" v-if="post">
      <figure class="blog-post--image" v-if="post.PhotoURL">
        <img v-bind:src="post.PhotoURL" alt="" />
      </figure>
      <div class="blog-post--description">
        <h3>{{ post.Title }}<br><span v-bind:uk-tooltip="moment(post.CreatedTimestamp).format('MMMM Do YYYY, HH[h]mm')">{{ moment(post.CreatedTimestamp).fromNow() }}</span></h3>
        <h4>Written by {{ post.Author.Firstname }} {{ post.Author.Lastname }}</h4>
        <p v-html="urlify(post.Content)"></p>
      </div>
      <div class="blog-post--tools uk-text-center">
        <router-link :key="post.Id" :to="{ name: 'Post', params: { id: post.Id }}">Read more</router-link>
      </div>
    </div>
  </div>
    <button v-if="PostsCounter > 0" @click="PostsCount += 10" uk-text-center >Load more messages ({{ PostsCounter }} left)</button>
</div>
</div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

export default {
  name: 'MyPosts',
  data () {
    return {
      Posts: [],
      User: null,
      Profile: null,
      Following: [],
      PostsCount: 10,
      filter: 'none',
      Trash: [],
      Favorites: []
    }
  },
  components: {
  },
  computed: {
  orderedPosts: function () {
    if(this.Posts !== undefined){
      var crop = 0
      if(this.Posts.length > this.PostsCount) {
        crop = this.PostsCount
      } else {
        crop = this.Posts.length
      }
      return this._.orderBy(this.Posts, ['CreatedTimestamp'], ['desc']).slice(0, crop)
    }
  },
  orderedFav: function () {
    if(this.Favorites !== undefined){
      var crop = 0
      if(this.Favorites.length > this.PostsCount) {
        crop = this.PostsCount
      } else {
        crop = this.Favorites.length
      }
      return this._.orderBy(this.Favorites, ['CreatedTimestamp'], ['desc']).slice(0, crop)
    }
  },
  orderedTrash: function () {
    if(this.Trash !== undefined){
      var crop = 0
      if(this.Trash.length > this.PostsCount) {
        crop = this.PostsCount
      } else {
        crop = this.Trash.length
      }
      return this._.orderBy(this.Trash, ['CreatedTimestamp'], ['desc']).slice(0, crop)
    }
  },
  PostsCounter: function() {
    var count = 0
    if(this.Posts !== undefined && this.Posts !== undefined){
      var count = this.Posts.length - this.PostsCount
    }
    return count
  },
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser(user.uid).then(function(result){
          self.Profile = result
          self.GetPosts(result.UserID)
          self.GetFavorites()
        })
        //self.GetPosts()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetPosts(param) {
      var self = this
      db.collection("posts")
      .where("AuthorID", "==", param)
      .onSnapshot(function(querySnapshot) {
          self.Posts = []
          self.Trash = []
        querySnapshot.forEach(function(doc) {
            var post = doc.data()
            post.Id = doc.id
            if(param === self.User.uid && !post.DeletedTimestamp){
                post.Author = self.Profile
                self.Posts.push(post)
            } else if(param === self.User.uid && post.DeletedTimestamp){
                self.GetUser(post.AuthorID).then(function(result){
                    post.Author = result
                    self.Trash.push(post)
                })
            }
        });
        })
    },
    GetFavorites(){
      var self = this
      db.collection("posts")
      .where("Favorites." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Favorites = []
        querySnapshot.forEach(function(doc) {
            var post = doc.data()
            post.Id = doc.id
            self.GetUser(post.AuthorID).then(function(result){
                post.Author = result
                self.Favorites.push(post)
            })
        })
      })
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    urlify(text) {
      var self = this
    var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
    //var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url,b,c) {
        var url2 = (c == 'www.') ?  'http://' +url : url;
        return '<a class="linkPreview" href="' +url2+ '" target="_blank">' + url + '</a>';
    }) 
    },
    checkFilter() {
        $("#btnNone").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnFavorites").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnTrash").removeClass('btnPrimary').addClass('btnDefault')
        if(this.filter === "none"){
            $("#btnNone").removeClass('btnDefault').addClass('btnPrimary')
        } else if(this.filter === "favorites") {
            $("#btnFavorites").removeClass('btnDefault').addClass('btnPrimary')
        } else if (this.filter === 'trash') {
            $("#btnTrash").removeClass('btnDefault').addClass('btnPrimary')
        }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.mainTitle {
  color: #3498db;
  margin-top: 20px;
  margin-bottom: 20px;
}
body {
  background-color: #ffffff;
  text-align: center;
}

.main-wrapper {
  margin: 0;
  position: relative;
}

.bg {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
  
  .bg-image {
    position: absolute;
    width: 110%;
    margin-top: -5%;
    margin-left: -5%;
    height: 110%;
  background-size: cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
  }
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  
  span {
    font-weight: 400;
    padding-left: 8px;
    color: #9f9e9f;
    font-style: italic;
    font-size: 18px;
  }
}

p {
  color: #9f9e9f;
  font-size: 14px;
  line-height: 1.6em;
}

.blog-post-wrapper {
  position: relative;
  z-index: 0;
  padding: 50px 0;
  margin-left: 5%;
  width: 90%;
  float: left;
}

.blog-post {
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
  -webkit-transform: scale(1);
  &--image {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%;
    max-height: 200px;
  }
  &--image > img {
  object-fit: cover;
    position: relative;
    margin: 0;
    width: 100%;
    height: 200px;
  }
  &--description {
    text-align: left;
    position: relative;
    z-index: 4;
    padding: 0 80px 30px 40px;
    margin-bottom: 50px;
    > h4 {
      margin: 0;
    }
    > h3 {
      margin: 0;
      color: #3498db;
    }
  }
  &--tools {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    height: 40px;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  & > a {
  color: white !important;
  text-align: center;
  margin-bottom: -10px;
  font-size: 16pt;
  line-height: 2px;
  }
  }
}
.btnPrimary {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-bottom: 30px;
}
.btnAdd {
  width: 50%;
  margin-left: 25%;
}
#btnNone, #btnFavorites, #btnTrash {
    width: 32%;
    height: 70px;
}
.btnPrimary > .uk-badge {
  background: white;
  color: #3498db;
}
.btnDefault > .uk-badge {
    background: #3498db;
  color: white;
}
#btnNone {
    margin-left: 5px;
}
</style>
