<template>
  <div id="MyProjects">
    <p class="uk-text-center mainTitle">My Projects</p>
    <button class="uk-button btnDefault btnAdd uk-button-large" @click="GoToPage('CreateProject')">Create a project</button>
    <div v-if="Projects">
      <ul class="uk-list uk-list-large uk-list-striped">
        <li v-for="proj in orderedProjects" :key="proj.Id" >
          <router-link class="subTitle" :to="{ name: 'Project', params: { id: proj.Id }}">{{ proj.Title }}</router-link>
          <br>
          <p>{{ proj.Description }}</p>
          <progress id="js-progressbar" class="uk-progress" :value="proj.CompletedTasks.length" :max="proj.Tasks.length"></progress>
          <p>Completed at {{ ((proj.CompletedTasks.length/proj.Tasks.length)*100).toFixed(0) }}%</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

export default {
  name: 'MyProjects',
  data () {
    return {
        User: null,
        Projects: null,
    }
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetProjects()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  components: {
  },
  computed: {
    orderedProjects: function () {
        return this._.orderBy(this.Projects, ['CreatedTimestamp'], ['asc'])
    },
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    GetProjects() {
      var self = this
      db.collection("projects")
      .where("Users." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Projects = []
        querySnapshot.forEach(function(doc) {
          var proj = doc.data()
          proj.Id = doc.id
          proj.Tasks = []
          proj.CompletedTasks = []
          for(var i = 0; i < proj.Milestones.length; i++){
              proj.Milestones[i].Tasks.forEach(function(el){
                  if(el.Completed){
                      proj.CompletedTasks.push(el)
                      proj.Tasks.push(el)
                  } else {
                      proj.Tasks.push(el)
                  }
              })
          }
          self.Projects.push(proj)
        })
      })
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.uk-form-icon {
    color: linear-gradient(45deg, #17ead9, #6078ea);
}
.mainTitle {
  color: #3498db;
  margin-top: 30px;
  margin-bottom: 30px;
}
.subTitle {
  background-image: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 30pt;
  margin-bottom: 0;
  max-width: 70%;
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-bottom: 30px;
}
.btnAdd {
  width: 50%;
  margin-left: 25%;
}
</style>
