<template>
  <div id="Notifications">
    <p class="uk-text-center mainTitle">Notifications</p>
    <div v-if="Notifications">
      <p class="uk-text-center" v-if="Notifications.length <= 0">You have no new notifications</p>
      <ul class="uk-list uk-list-large uk-list-striped">
        <li v-for="con in Notifications" :key="con.Id" >
            <p v-if="con.Type === 'FriendRequest'">{{ con.Author.Firstname }} {{ con.Author.Lastname }} wants connect! <br></p>
            <p v-if="con.Type === 'NewFollower'">{{ con.Author.Firstname }} {{ con.Author.Lastname }} follows you now! <br></p>
            <p v-if="con.Type === 'EventInvite'">{{ con.Author.Firstname }} {{ con.Author.Lastname }} invited you to an event! <br></p>
            {{ moment(con.CreatedTimestamp).fromNow() }}
              <button class="uk-button uk-button-secondary" v-if="con.Type === 'FriendRequest'" 
              @click="ConfirmRequest(con)">Accept</button>
              <button class="uk-button uk-button-default"  v-if="con.Type === 'FriendRequest'" 
              @click="CancelRequest(con)">Refuse</button>
              <button class="uk-button uk-button-default"  v-if="con.Type === 'NewFollower'" 
              @click="ClearNot(con)">Clear</button>
              <br><router-link v-if="con.Type === 'EventInvite'" :to="{ name: 'Event', params: { id: con.SourceID }}">Go to the event</router-link><br>
              <button class="uk-button uk-button-default"  v-if="con.Type === 'EventInvite'" 
              @click="ClearNot(con)">Clear</button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

export default {
  name: 'Notifications',
  data () {
    return {
      Notifications: [],
      User: null,
      Profile: null,
      Conversation: {
          Id: "",
          Admin: "",
          Color: "Blue",
          Messages: [
              {
                File: {
                  Name: "",
                  Type: "",
                  URL: ""
                },
                Text: "New conversation",
                Timestamp: new Date(),
                User: "system",
                UserID: "system"
              }
          ],
          Name: "",
          Read: {},
          Users: [],
          Users2: {},
          isTyping: "",
          isPrivate: true
      },
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser(user.uid).then(function(result){
            self.Profile = result
        })
        self.GetNotifications()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetNotifications() {
      var self = this
      db.collection("notifications")
      .where("Targets." + self.User.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Notifications = []
        querySnapshot.forEach(function(doc) {
            var not = doc.data()
          not.Id = doc.id
          self.GetUser(not.AuthorID).then(function(result){
              not.Author = result
            self.Notifications.push(not)
            })
        });
        })
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
          user.docID = doc.id
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    getDate(day){
      var moment = this.moment(day).calendar()
      return moment
    },
    CancelRequest(param){
      var self = this
      db.collection("notifications").doc(param.Id).delete().then(function() {
        console.log("Document successfully deleted!");
        delete param.Author.PendingFriendRequests[self.User.uid]
        db.collection("users").doc(param.Author.docID).update({
            "PendingFriendRequests": param.Author.PendingFriendRequests
        })
        .then(function() {
            console.log("Friendrequest dismissed: " + param.Id);
        });
      })
    },
    ConfirmRequest(param){
      var self = this
      param.Author.Friends.push(self.User.uid)
      param.Author.Following[self.User.uid] = true
      db.collection("users").doc(param.Author.docID).update({
        "Friends": param.Author.Friends,
        "Following": param.Author.Following
      })
      .then(function() {
        console.log("Added connection to: " + param.Author.docID);
        self.Profile.Friends.push(param.AuthorID)
        self.Profile.Following[param.AuthorID] = true
        db.collection("users").doc(self.Profile.docID).update({
            "Friends": self.Profile.Friends,
            "Following": self.Profile.Following
        })
        .then(function() {
            console.log("Added connection to: " + param.Author.docID);
            self.CreateConversation(param.AuthorID)
            self.CancelRequest(param)
         });
      });
    },
    CreateConversation(param) {
      var self = this
      self.Conversation.Users2[self.User.uid] = true
      self.Conversation.Users2[param] = true
      self.Conversation.Users.push(self.User.uid)
      self.Conversation.Users.push(param)
      self.Conversation.Messages[0].Timestamp = new Date()
      self.Conversation.Admin = self.User.uid
      var docRef = db.collection("conversations").doc()
      docRef.set(self.Conversation)
      .then(function() {
        console.log("Document successfully written!");
        var docRef2 = db.collection("typingDetector").doc(docRef.id)
        docRef2.set({
          'ConversationID': docRef.id,
          'isTyping': ''
        })
      .then(function() {
        console.log("Document successfully written!");
      })
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
        self.Conversation = []
      })
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
    },
    ClearNot(param){
      var self = this
      db.collection("notifications").doc(param.Id).delete().then(function() {
        console.log("Document successfully deleted!");
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainTitle {
  color: #3498db;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
