<template>
  <div id="Post">
<div id="deleteCheck" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Are you sure?</h2>
        <p>It looks like you're about to remove a post.
            <br>Are you sure you want to do that?
            <br>But don't worry, you can still restore this post later (it will be in the trash).
        </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button" @click="removePost()">Remove</button>
        </p>
    </div>
</div>
<div id="sharePost" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Share this post?</h2>
        <div class="uk-margin">
            <select class="uk-select" v-model="conID">
                <option value="none" disabled selected>Choose a conversation</option>
                <option v-for="con in Conversations" :key="con.ID" v-bind:value="con.ID">{{ con.Name }}</option>
            </select>
        </div>
        <p class="uk-text-right">
            <button class="uk-button btnDefault uk-modal-close" type="button">Cancel</button>
            <button class="uk-button btnDanger uk-modal-close" @click="sharePost()" type="button">Share</button>
        </p>
    </div>
</div>
<div class="bg">
  <i class="bg-image"></i>
</div>
<div class="main-wrapper">
  <div class="blog-post-wrapper">
    <div class="blog-post"  v-if="Post">
      <figure class="blog-post--image">
        <img v-bind:src="Post.PhotoURL" alt="" />
      </figure>
    <p v-if="Edit" class="uk-text-center uk-text-large">Change the image:</p>
    <div v-if="Edit" class="js-upload" uk-form-custom>
      <input type="file" id="img" @change="changeImg()" accept="image/*">
      <a uk-toggle uk-icon="icon: image; ratio: 1.5" tabindex="-1"></a>
      <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
    </div>
      <div class="blog-post--description">
        <h3 v-if="!Edit">{{ Post.Title }}<span><br>{{ moment(Post.CreatedTimestamp).format('MMMM Do YYYY') }}</span></h3>
        <span v-if="Post.DeletedTimestamp !== null" class="uk-label uk-label-danger">In the trash</span>
          <input v-if="Edit" class="uk-input btnDefault" type="text" v-model="Post.Title" placeholder="Title...">
        <h4 v-if="!Edit">Written by 
          <router-link v-if="!Edit" :to="{ name: 'UserProfile', params: { id: Post.AuthorID, type: 'Friends', source: 'Friends' }}">
            {{ Post.Author.Firstname }} {{ Post.Author.Lastname }}
          </router-link></h4>
        <p v-if="!Edit" v-html="urlify(Post.Content)"></p>
          <textarea v-if="Edit" class="uk-textarea uk-width-1-5 btnDefault" rows="5" placeholder="Write your post here..." v-model="Post.Content" />
      </div>
      <p class="uk-text-center" v-if="Object.keys(Post.Favorites).length > 1 && Object.keys(Post.Favorites).length !== 0">{{ Object.keys(Post.Favorites).length }} Likes</p>
      <p class="uk-text-center" v-if="Object.keys(Post.Favorites).length === 1">{{ Object.keys(Post.Favorites).length }} Like</p>
      <div class="blog-post--tools">
        <i v-if="!Edit && AuthUser.uid === Post.AuthorID" class="icon icon-edit" @click="Edit = true">
          <font-awesome-icon size="1x" :icon="['fas', 'pencil-alt']" />
          <span>Edit</span>
        </i>
        <i v-if="!Edit" class="icon icon-view" @click="sharePrompt()">
          <font-awesome-icon size="1x" :icon="['fas', 'share-alt']" />
          <span>Share</span>
        </i>
        <i v-if="Edit" @click="EditPost()"  class="icon icon-edit">
          <font-awesome-icon size="1x" :icon="['fas', 'save']" />
          <span>Save</span>
        </i>
        <i v-if="Edit" @click="Cancel()" class="icon icon-view">
          <font-awesome-icon size="1x" :icon="['fas', 'ban']" />
          <span>Cancel</span>
        </i>
        <i v-if="Post.DeletedTimestamp === null && AuthUser.uid === Post.AuthorID" @click="Confirm()"  class="icon icon-edit">
          <font-awesome-icon size="1x" :icon="['fas', 'trash-alt']" />
          <span>Remove</span>
        </i>
        <i v-if="Post.DeletedTimestamp !== null && AuthUser.uid === Post.AuthorID" @click="restorePost()"  class="icon icon-edit">
          <font-awesome-icon size="1x" :icon="['fas', 'undo']" />
          <span>Restore</span>
        </i>
        <i v-if="AuthUser.uid !== Post.AuthorID && Post.Favorites[AuthUser.uid] !== true" @click="likePost()" class="icon icon-edit">
          <span uk-icon="heart"></span>
          <span>Like</span>
        </i>
        <i v-if="AuthUser.uid !== Post.AuthorID && Post.Favorites[AuthUser.uid] === true" @click="unlikePost()" class="icon icon-edit">
          <font-awesome-icon size="1x" :icon="['fas', 'heart']" color="red" />
          <span>Unlike</span>
            
        </i>
      </div>
    </div>
  </div>
</div>

</div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'
import blobUtil from 'blob-util'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import '@fortawesome/fontawesome/styles.css';
import fontawesome from '@fortawesome/fontawesome';

fontawesome.config = {
  autoAddCss: true,
};

export default {
  name: 'UserProfile',
  data () {
    return {
      AuthUser: null,
      PostID: null,
      Post: null,
      Edit: false,
      Conversations: [],
      conID: "none"
    }
  },
  components: {
    FontAwesomeIcon
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.AuthUser = user
        self.PostID = self.$route.params.id
        self.GetPost()
        self.GetConversations()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    GetPost() {
      var self = this
      db.collection("posts")
      .doc(self.PostID)
      .onSnapshot(function(doc) {
          var post = doc.data()
          post.Id = doc.id
          self.GetUser(post.AuthorID).then(function(result){
                post.Author = result
                self.Post = post
                if(self.Post.PhotoURL !== null ){
                  $(".bg-image").css("background-image", "url(" + self.Post.PhotoURL + ")")
                } else {
                  $(".bg-image").css("background", "linear-gradient(45deg, #17ead9, #6078ea)")
                }
            })
        })
    },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    Cancel(){
      var self = this
      self.Edit = false
      self.GetPost()
    },
    EditPost(){
      var self = this
      db.collection("posts").doc(self.PostID).update({
        "Title": self.Post.Title,
        "Content": self.Post.Content,
        "Edited": new Date()
      })
      .then(function() {
        console.log("Post successfully updated!");
      });
      self.Edit = false
    },
    changeImg() {
      var self = this
      var file = $('#img')[0].files[0];
      var fileReader = new FileReader();
      fileReader.onloadend = function (e) {
        var arrayBuffer = e.target.result;
        blobUtil.arrayBufferToBlob(arrayBuffer, file.type).then(function (blob) {
          console.log('here is a blob', blob);
          console.log('its size is', blob.size);
          console.log('its type is', blob.type);
          self.uploadImg(blob, file.name)
          $('#img').val("")
        }).catch(console.log.bind(console));
      };
      fileReader.readAsArrayBuffer(file);
    },
    uploadImg(param, param2) {
      var self = this
      const ref = firebase.storage().ref();
      const file = param
      const name = (+new Date()) + '-' + param2
      const metadata = {
        contentType: file.type
      };
      const existingPhoto = self.Post.PhotoURL
      const task = ref.child(name).put(file, metadata);
      task.then((snapshot) => {
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        $("#js-progressbar").removeAttr("hidden")
        $("#js-progressbar").value = progress
        console.log('Upload is ' + progress + '% done');
        const url = snapshot.downloadURL;
      db.collection("posts").doc(self.PostID).update({
        "PhotoURL": url
      })
      .then(function() {
        if (existingPhoto !== ""){
        var desertRef = firebase.storage().refFromURL(existingPhoto)
        desertRef.delete().then(function() {
          self.Post.PhotoURL = url
        }).catch(function(error) {
          // Uh-oh, an error occurred!
        });
        console.log("Profile successfully updated!");
        } else {
          self.Post.PhotoURL = url
        }
      });
      }).catch((error) => {
        console.error(error);
      });
    },
    Confirm(){
      UIkit.modal('#deleteCheck').show();
    },
    removePost(){
      var self = this
      db.collection("posts").doc(self.PostID).update({
        "DeletedTimestamp": new Date()
      })
      .then(function() {
        console.log("Post successfully removed!");
      });
    },
    restorePost(){
      var self = this
      db.collection("posts").doc(self.PostID).update({
        "DeletedTimestamp": null
      })
      .then(function() {
        console.log("Post successfully restored!");
      });
    },
    likePost(){
      var self = this
      self.Post.Favorites[self.AuthUser.uid] = true
      db.collection("posts").doc(self.PostID).update({
        "Favorites": self.Post.Favorites
      })
      .then(function() {
        console.log("Post successfully liked!");
      });
    },
    unlikePost(){
      var self = this
      delete self.Post.Favorites[self.AuthUser.uid]
      db.collection("posts").doc(self.PostID).update({
        "Favorites": self.Post.Favorites
      })
      .then(function() {
        console.log("Post successfully unliked!");
      });
    },
    sharePrompt(){
      UIkit.modal('#sharePost').show();
    },
    GetConversations() {
      var self = this
      db.collection("conversations")
      .where("Users2." + self.AuthUser.uid, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Conversations = []
        querySnapshot.forEach(function(doc) {
          if(doc.data().Name !== ""){
            var con = {
              "Name": doc.data().Name,
              "ID": doc.id
            }
            self.Conversations.push(con)
          } else {
            var con = {
              "Name": null,
              "ID": doc.id
            }
            if(doc.data().Users[0] !== self.AuthUser.uid){
              self.GetUser(doc.data().Users[0]).then(function(result){
                con.Name = result.Firstname + " " + result.Lastname
                self.Conversations.push(con)
              })
            }
            if(doc.data().Users[1] !== self.AuthUser.uid){
              self.GetUser(doc.data().Users[1]).then(function(result){
                con.Name = result.Firstname + " " + result.Lastname
                self.Conversations.push(con)
              })
            }
          }
        });
        })
    },
    sharePost(){
      var self = this
      var convers = null
      db.collection("conversations")
      .doc(self.conID)
      .get().then(function(doc) {
      if (doc.exists) {
        convers = doc.data()
      var data = []
      data = {
          "File": {
            "Name": "",
            "Type": "",
            "URL": ""
          },
        "SharedCon": self.PostID,
        "Text" : "",
        "User" : self.AuthUser.uid,
        "UserID" : self.AuthUser.uid,
        "Timestamp" : new Date()
      }
      convers.Messages.push(data)
        var Read = {}
        Read[self.AuthUser.uid] = true
      db.collection("conversations").doc(self.conID).update({
        "Messages": convers.Messages,
        "Read": Read
      })
      .then(function() {
        console.log("Document successfully written!");
      })
      .catch(function(error) {
          console.error("Error writing document: ", error);
      });
      } else {
        console.log("No such document!");
      }
      }).catch(function(error) {
        console.log("Error getting document:", error);
      });
    },
    urlify(text) {
      var self = this
    var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
    //var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url,b,c) {
        var url2 = (c == 'www.') ?  'http://' +url : url;
        return '<a class="linkPreview" href="' +url2+ '" target="_blank">' + url + '</a>';
    }) 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.menuIcon2 {
  position: fixed;
  top: 2%; right: 5%;
  color: #6078ea;
  z-index: 1;
}
body {
  background-color: #ffffff;
  text-align: center;
}
.main-wrapper {
  padding: 0 20px;
  position: relative;
}
.bg {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
  
  .bg-image {
    position: absolute;
    width: 110%;
    margin-top: -5%;
    margin-left: -5%;
    height: 110%;
  background-size: cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
  }
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  
  span {
    font-weight: 400;
    padding-left: 8px;
    color: #9f9e9f;
    font-style: italic;
    font-size: 18px;
  }
}

p {
  color: #9f9e9f;
  font-size: 14px;
  line-height: 1.6em;
}

.blog-post-wrapper {
  position: relative;
  z-index: 0;
  padding: 150px 0;
}

.blog-post {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
  -webkit-transform: scale(1);
  
  &--image > img {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%;
    max-height: 275px;
  }
  
  &--description {
    text-align: left;
    position: relative;
    z-index: 4;
    padding: 0 5% 5% 5%;
    width: 90%;
  }
  
  &--tools {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: #e0dfe1;
    }
    & > i {
      width: 10%;
      margin-left: 20%;
    }
  }
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 8%;
  cursor: pointer;
  span {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 11px;
  }
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
input, textarea {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}
</style>
