<template>
  <div id="Profile">
    <p class="uk-text-center mainTitle">Profile</p>
  <div class="uk-width-1-1" v-if="User && Profile">
    <div class="uk-cover-container uk-height-medium">
      <img v-if="Profile.PhotoURL !== ''" v-bind:src="Profile.PhotoURL" alt="">
      <img v-if="Profile.PhotoURL === ''" src="../assets/Files/user.png" alt="">
    </div>
<div id="sizeAlert" class="uk-alert-danger" animation="true" duration="150" hidden uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>File is too large (max. 2MB)</p>
</div>
    <div v-if="Edit" class="js-upload" uk-form-custom>
      <p class="uk-text-center">You can change your profile picture here:</p>
      <input type="file" id="img" @change="addImg()" accept="image/*">
      <a uk-toggle uk-icon="icon: image; ratio: 1.5" tabindex="-1"></a>
      <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
    </div>
    <p class="uk-text-center" v-if="Edit">Name:</p>
    <h1 class="uk-heading-primary uk-text-center subtitle" v-if="!Edit"><span>{{ Profile.Firstname}} {{ Profile.Lastname }}</span></h1>
    <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="Firstname..." v-if="Edit" v-model="Profile.Firstname">
    <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="Lastname..." v-if="Edit" v-model="Profile.Lastname">
        <div class="row">
      <div class="column columnOne">
    <p class="uk-text-center"><strong>Email:</strong></p>
    <p class="uk-text-center noMarginText">{{ User.email}}</p><br>
    <p class="uk-text-center"><strong>Occupation:</strong></p>
    <p class="uk-text-center noMarginText" v-if="!Edit">{{ Profile.Occupation }}</p>
    <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="Occupation..." v-if="Edit" v-model="Profile.Occupation">
      </div>
      <div class="column">
    <p class="uk-text-center"><strong>Address:</strong></p>
    <p class="uk-text-center noMarginText" v-if="!Edit">{{ Profile.Adress }},<br> {{ Profile.City }}, {{ Profile.Country }}</p>
    <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="Adress..." v-if="Edit" v-model="Profile.Adress">
    <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="City..." v-if="Edit" v-model="Profile.City">
    <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="Country..." v-if="Edit" v-model="Profile.Country">
    <p class="uk-text-center"><strong>Phone:</strong></p>
    <p class="uk-text-center noMarginText" v-if="!Edit">{{ Profile.Phone }}</p>
    <input class="uk-input uk-width-1-5 btnDefault" type="text" placeholder="Phone..." v-if="Edit" v-model="Profile.Phone">
      </div>
        </div>
  </div>
  <p class="uk-text-center smallText">This QR-code is a direct link to your profile.
    <br>You can download it and put it on a Business Card for example.
    <br><a id="download" v-bind:download="Profile.Firstname + '-' + Profile.Lastname + '-QRcode.png'" @click="downloadQR()" v-if="UserURL">Download a High Resolution version here</a></p>
  <qrcode-vue class="QRCode" :foreground="newColor" v-if="UserURL" :value="UserURL" :size="150" level="H"></qrcode-vue>
  <qrcode-vue :foreground="newColor" hidden v-if="UserURL" :value="UserURL" :size="2000" level="H" id="HighResQR"></qrcode-vue>
  <p class="uk-text-center uk-text-large">Change the color:</p>
  <select class="uk-select" v-model="newColor">
    <option v-for="col in Colors" :key="col.name" :value="col.hex">{{ col.name }}</option>
  </select>
  <button class="uk-button btnDefault btnEdit" @click="Edit = true" v-if="Edit === false">Edit</button>
  <button class="uk-button btnDanger" @click="UpdateUser()" v-if="Edit === true">OK</button>
  <p>To change your email and/or password <router-link to="Register">click here.</router-link></p>
</div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import blobUtil from 'blob-util'
import Vue from 'vue';
import QrcodeVue from 'qrcode.vue';

export default {
  name: 'Profile',
  data () {
    return {
      User: null,
      Profile: null,
      Edit: false,
      ProfileID: null,
      UserURL: null,
      Colors: [
        {name: 'Red',hex: "#e74c3c"},
        {name: 'Blue',hex: "#3498db"},
        {name: 'Green',hex: "#2ecc71"},
        {name: 'Yellow',hex: "#f1c40f"},
        {name: 'Orange',hex: "#e67e22"},
        {name: 'Darkblue',hex: "#34495e"},
        {name: 'Turquoise',hex: "#1abc9c"},
        {name: 'Purple',hex: "#9b59b6"},
        {name: 'Black',hex: "#000000"}
      ],
      newColor: '#000000'
    }
  },
  components: {
    QrcodeVue
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUser()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
    GetUser() {
      var self = this
      db.collection("users").where("UserID", "==", self.User.uid)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          // doc.data() is never undefined for query doc snapshots
          self.Profile = doc.data()
          self.ProfileID = doc.id
          var url = window.location.href
          url = url.slice(0, (url.length-7))
          self.UserURL = url + "UserProfile/" + self.Profile.UserID + "/none/none"
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    UpdateUser() {
      var self = this
      db.collection("users").doc(self.ProfileID).update({
        "Firstname": self.Profile.Firstname,
        "Lastname": self.Profile.Lastname,
        "Adress": self.Profile.Adress,
        "City": self.Profile.City,
        "Country": self.Profile.Country,
        "Phone": self.Profile.Phone,
        "Occupation": self.Profile.Occupation
      })
      .then(function() {
        console.log("Profile successfully updated!");
      });
      self.Edit = false
    },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    addImg() {
      var self = this
      var file = $('#img')[0].files[0];
      var fileReader = new FileReader();
      fileReader.onloadend = function (e) {
        var arrayBuffer = e.target.result;
        blobUtil.arrayBufferToBlob(arrayBuffer, file.type).then(function (blob) {
          console.log('here is a blob', blob);
          console.log('its size is', blob.size);
          console.log('its type is', blob.type);
          if(blob.size < 2500000){
          self.uploadImg(blob, file.name)
          } else {
            $("#sizeAlert").removeAttr("hidden")
          }
          $('#img').val("")
        }).catch(console.log.bind(console));
      };
      fileReader.readAsArrayBuffer(file);
    },
    uploadImg(param, param2) {
      var self = this
      const ref = firebase.storage().ref();
      const file = param
      const name = (+new Date()) + '-' + param2
      const metadata = {
        contentType: file.type
      };
      const existingPhoto = self.Profile.PhotoURL
      const task = ref.child(name).put(file, metadata);
      task.then((snapshot) => {
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        $("#js-progressbar").removeAttr("hidden")
        $("#js-progressbar").value = progress
        console.log('Upload is ' + progress + '% done');
        const url = snapshot.downloadURL;
      db.collection("users").doc(self.ProfileID).update({
        "PhotoURL": url
      })
      .then(function() {
        if (existingPhoto !== ""){
        var desertRef = firebase.storage().refFromURL(existingPhoto)
        desertRef.delete().then(function() {
          self.Profile.PhotoURL = url
        }).catch(function(error) {
          // Uh-oh, an error occurred!
        });
        console.log("Profile successfully updated!");
        } else {
          self.Profile.PhotoURL = url
        }
      });
      }).catch((error) => {
        console.error(error);
      });
    },
    downloadQR(){
		var download = document.getElementById("download");
		var image = document.getElementById("HighResQR").childNodes[0].toDataURL("image/png").replace("image/png", "image/octet-stream");
		download.setAttribute("href", image);
			  //download.setAttribute("download","archive.png");
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainTitle {
  color: #3498db;
  margin-top: 30px;
}
.subtitle {
  background-image: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 30pt;
  margin-bottom: 20px;;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.columnOne {
  border-right: #3498db solid 1px;
  padding-right: 2px;
}
.noMarginText {
  margin-top: 0;
}
.smallText {
  font-size: 12px;
}
.QRCode {
  margin-left: 132px;
}
select, input {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    width: 60%;
    margin-left: 20%;
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
        margin-bottom: 5px;
}
.btnEdit {
    width: 60%;
    margin-left: 20%;
}
.js-upload {
  width: 90vw;
  text-align: center;
  margin-left: 5vw;
}
</style>
