<template>
  <div id="Project">
    <p class="uk-text-center mainTitle">Project</p>
<div id="addMilestone" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Add a new Milestone</h2>
        <div class="uk-margin">
          <p>Title:</p>
          <input class="uk-input uk-width-1-5" type="text" placeholder="Name..." v-model="newMilestone.Title">
          <p>Description:</p>
          <textarea class="uk-textarea uk-width-1-5" rows="5" placeholder="Description..." v-model="newMilestone.Notes" />
          <p>Deadline:</p>
          <input class="uk-input uk-width-1-5" type="datetime-local" v-model="newMilestone.Deadline">
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close" @click="addMilestone()" type="button">Add the milestone</button>
        </p>
    </div>
</div>
    <div v-if="Project">
    <div v-if="Edit">
      <p>Title:</p>
      <input class="uk-input uk-width-1-5" type="text" placeholder="Name..." v-model="Project.Title">
      <p>Description:</p>
      <textarea class="uk-textarea uk-width-1-5" rows="5" placeholder="Description..." v-model="Project.Description" />
    </div>
    <div v-if="!Edit">
      <h1 class="subtitle directMargin uk-text-center">{{ Project.Title }}</h1>
      <br>
      <span v-if="Project.DeletedTimestamp" class="uk-label uk-label-primary">This project is not active</span>
      <p class="uk-text-center">{{ Project.Description }}</p>
    </div>
    <button class="uk-button btnDefault btnEdit uk-button-large" v-if="!Edit && Project.Admin === User.uid" @click="Edit = true">Edit</button>
    <button class="uk-button btnDanger btnOK uk-button-large" v-if="Edit" @click="UpdateProject(), Edit = false">OK</button>
    <div v-if="!Edit">
      <progress id="js-progressbar" class="uk-progress" :value="Project.CompletedTasks.length" :max="Project.Tasks.length"></progress>
      <p class="uk-text-center">Completed at {{ ((Project.CompletedTasks.length/Project.Tasks.length)*100).toFixed(0) }}%</p>
    </div>
      <div v-for="ms in Project.Milestones" :key="ms.Title" class="milestone">
      <div v-if="Edit">
        <p>Title:</p>
        <input class="uk-input uk-width-1-5" type="text" placeholder="Name..." v-model="ms.Title"><br>
        <p>Notes:</p>
        <input class="uk-input uk-width-1-5" type="text" placeholder="Description..." v-model="ms.Notes"><br>
        <p>Deadline:</p>
        <input class="uk-input uk-width-1-5" type="datetime-local" v-model="ms.Deadline">
      </div>
      <div v-if="!Edit">
        <h1 class="subtitle">{{ ms.Title }}</h1>
        <p class="uk-text-center">{{ ms.Notes }}</p>
        <p class="uk-text-center"><strong>Deadline:</strong> {{ moment(ms.Deadline).format('MMMM Do YYYY, HH[h]mm') }}</p>
      </div>
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
            <tr>
              <th class="colOne" v-if="Edit"></th>
              <th class="colTwoEdit" v-if="Edit">Task</th>
              <th class="colThreeEdit" v-if="Edit">Description</th>
              <th class="colTwo" v-if="!Edit">Task</th>
              <th class="colThree" v-if="!Edit">Description</th>
              <th class="colFour"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="task in ms.Tasks" :key="task.Title">
              <td v-if="Edit">
                <font-awesome-icon size="1x" :icon="['fas', 'minus-circle']" class="red" @click="ms.Tasks.splice(ms.Tasks.indexOf(task),1)" />
              </td>
              <td v-if="!Edit" class="colTwo">{{ task.Title }}</td>
              <td v-if="Edit"><input class="uk-input btnDefault" type="text" placeholder="Name..." v-model="task.Title"></td>
              <td v-if="!Edit">{{ task.Notes }}</td>
              <td colspan="2" v-if="Edit"><input class="uk-input btnDefault notesPadding" type="text" placeholder="Description..." v-model="task.Notes"></td>
              <td v-if="!Edit">
                <font-awesome-icon size="2x" :icon="['far', 'circle']" v-if="!task.Completed" @click="task.Completed = new Date(), checkCompletion(), CheckTask()" />
                <font-awesome-icon size="2x" :icon="['far', 'check-circle']" v-if="task.Completed" @click="task.Completed = null, checkCompletion(), CheckTask()" />
              </td>
            </tr>
            <tr v-if="Edit">
              <td></td>
              <td><input class="uk-input" type="text" placeholder="Name..." v-model="newTask.Title"></td>
              <td><input class="uk-input" type="text" placeholder="Description..." v-model="newTask.Notes"></td>
              <td><button class="uk-button btnDefault" type="button" @click="ms.Tasks.push(newTask), AddTask()">Add</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-if="Edit">
        <button class="uk-button btnDefault btnOK" type="button" @click="addMilestonePrompt()">Add a milestone</button><br>
      </div>
    </div>
    <div class="btnLine">
    <!--<button class="uk-button uk-button-danger uk-button-large" v-if="Project && !Project.DeletedTimestamp && Edit" @click="DeleteProject()">Deactivate</button>
    <button class="uk-button uk-button-secondary uk-button-large" v-if="Project && Project.DeletedTimestamp && Edit" @click="RestoreProject()">Activate</button>
    --><button class="uk-button btnDanger uk-button-large" v-if="Edit" @click="UpdateProject(), Edit = false">OK</button>    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome/'
import '@fortawesome/fontawesome/styles.css';
import fontawesome from '@fortawesome/fontawesome';
import { faCircle, faCheckCircle, faMinusCircle } from '@fortawesome/fontawesome-free-regular'

fontawesome.config = {
  autoAddCss: true,
};

export default {
  name: 'Project',
  data () {
    return {
        User: null,
        Project: null,
        EditedProject: null,
        ProjectID: null,
        Edit: false,
        newTitle: null,
        newNotes: null,
        newTask: {
          Title: null,
          Notes: null,
          Completed: null,
        },
        newMilestone:{
          Title: null,
          Notes: null,
          Deadline: null,
          Tasks: []
        }
    }
  },
  components: {
    FontAwesomeIcon
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.ProjectID = self.$route.params.id
        self.GetProject()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    GetProject() {
      var self = this
      db.collection("projects")
      .doc(self.ProjectID)
      .onSnapshot(function(doc) {
          var proj = doc.data()
          proj.Id = doc.id
          self.Project = proj
          for(var i = 0; i < proj.Milestones.length; i++){
            proj.Milestones[i].Deadline = moment(proj.Milestones[i].Deadline).format('YYYY-MM-DDTHH:mm')
            proj.Milestones[i].id = (Math.random() + 1).toString(36).substring(7)
          }
          self.EditedProject = proj
          self.checkCompletion()
        })
    },
    checkCompletion() {
      var self = this
      self.Project.Tasks = []
      self.Project.CompletedTasks = []
      for(var i = 0; i < self.Project.Milestones.length; i++){
          self.Project.Milestones[i].Tasks.forEach(function(el){
              if(el.Completed){
                  self.Project.CompletedTasks.push(el)
                  self.Project.Tasks.push(el)
              } else {
                  self.Project.Tasks.push(el)
              }
          })
      }
    },
    CheckTask(){
      var self = this
      db.collection("projects").doc(self.ProjectID).update({
        "Milestones": self.Project.Milestones
      })
      .then(function() {
        console.log("Task successfully completed!");
      });
    },
    AddTask(){
      var self = this
      db.collection("projects").doc(self.ProjectID).update({
        "Milestones": self.Project.Milestones
      })
      .then(function() {
        console.log("Task successfully added!");
        self.newTask.Title = null
        self.newTask.Notes = null
        self.Edit = false
      });
    },
    addMilestone(){
      var self = this
      self.Project.Milestones.push(self.newMilestone)
      db.collection("projects").doc(self.ProjectID).update({
        "Milestones": self.Project.Milestones
      })
      .then(function() {
        console.log("Milestone successfully added!");
        self.newMilestone.Title = null
        self.newMilestone.Notes = null
        self.newMilestone.Deadline = null
      });
    },
    UpdateProject(){
      var self = this
      db.collection("projects").doc(self.ProjectID).update({
        "Milestones": self.EditedProject.Milestones,
        "Title": self.EditedProject.Title,
        "Description": self.EditedProject.Description
      })
      .then(function() {
        console.log("Project successfully updated!");
      });
    },
    DeleteProject() {
      var self = this
      db.collection("projects").doc(self.ProjectID).update({
        "DeletedTimestamp": new Date()
      })
      .then(function() {
        console.log("Project successfully Deleted!");
      });
    },
    RestoreProject() {
      var self = this
      db.collection("projects").doc(self.ProjectID).update({
        "DeletedTimestamp": null
      })
      .then(function() {
        console.log("Project successfully Restored!");
      });
    },
    addMilestonePrompt(){
      UIkit.modal('#addMilestone').show();
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.uk-form-icon {
    color: linear-gradient(45deg, #17ead9, #6078ea);
}
body {
  text-align: left;
}
.red {
  color: #e74c3c;
}
.mainTitle {
  color: #3498db;
  margin-top: 30px;
}
.subtitle {
  background-image: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 30pt;
  margin-bottom: 0;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.columnOne {
  border-right: #3498db solid 1px;
  padding-right: 2px;
}
.uk-text-small {
  margin: 0;
  margin-bottom: 10px;
}
.row2 {
  margin-top: 20px;
}
.uk-accordion-title::after {
  display: none;
}
.uk-accordion > li {
  border-bottom: 1px solid #3498db;
}
.uk-open {
  background: -webkit-linear-gradient(45deg,#3498db, #e74c3c);
  margin: 0;
}
.uk-open > div > a, .uk-open > a, .uk-accordion > li > div > p {
  color: white;
}
.uk-label {
  width: 50%;
  margin-left: 20%
}
.users {
  width: 50%;
  margin-left: 30%;
}
.usersEdit {
  margin-left: 30%;
}
input {
  width: 100%;
}
.friendInput {
  width: 80vw;
  margin-left: 10vw;
}
textarea {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.btnEdit {
  width: 30%;
  margin-left: 35%;
  margin-bottom: 10px;
}
.btnEdit2 {
  width: 30%;
  margin: 20px 0 20px 2%;
}
.btnEdit21 {
  margin-left: 18%
}
.uk-badge {
  margin-top: -5px;
}
.fa-check-circle > path {
  fill: #2ecc71;
}
.uk-table > thead {
  background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: white;
}
th {
  color: white;
}
.colOne {
  width: 3%;
}
.colTwo {
  width: 10%;
  padding-left: 10px !important;
}
.colThree {
  width: 40%;
}
.colFour {
  width: 3%;
}
.colTwoEdit {
  width: 60%;
}
.colThreeEdit {
  width: 60%;
}
.notesPadding {
  margin-left: -5px;
}
.fa-minus-circle {
  margin-left: 5px;
}
.btnOK {
  width: 50%;
  margin-left: 25%;
}
.uk-button-danger {
  background-color: #e74c3c;
}
.uk-button-secondary {
  background-color: #3498db;
}
.btnLine > button {
  width: 70%;
  margin-left: 15%;
}
</style>
