<template>
  <div id="Register">
    <p class="uk-text-center mainTitle">Register</p>
    <input class="uk-input btnDefault firstInput" type="text" v-model="Email" placeholder="Email...">
    <input class="uk-input btnDefault" type="password" v-model="Pass" placeholder="Password...">
    <input class="uk-input btnDefault" type="text" v-model="Firstname" placeholder="Firstname...">
    <input class="uk-input btnDefault" type="text" v-model="Lastname" placeholder="Lastname...">
    <input class="uk-input btnDefault" type="text" v-model="Occupation" placeholder="Occupation...">
    <input class="uk-input btnDefault" type="text" v-model="Adress" placeholder="Adress...">
    <input class="uk-input btnDefault" type="text" v-model="City" placeholder="City...">
    <input class="uk-input btnDefault" type="text" v-model="Country" placeholder="Country...">
    <input class="uk-input btnDefault" type="text" v-model="Phone" placeholder="Phone...">
    <button class="uk-button btnDanger uk-button-large" @click="Register()">Confirm</button>
    <p class="uk-text-center">Already have an account? <router-link to="Login">Login</router-link></p>
  </div>
</template>

<script>
import firebase from 'firebase';
import db from './firebaseInit'

export default {
  name: 'Login',
  data () {
    return {
      Email: null,
      Pass: null,
      Firstname: null,
      Lastname: null,
      Adress: null,
      City: null,
      Country: null,
      Phone: null,
      Occupation: null
    }
  },
  created() {
    var self = this
    console.log("firstname: " + this.Firstname)
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
          if(self.Email){
            self.MakeUser(user)
          } else {
            self.$router.push({name: 'Dashboard'})
          }
      }
    });
  },
  methods: {
    Register: function() {
      firebase.auth().createUserWithEmailAndPassword(this.Email, this.Pass).catch(function(error) {
        var errorCode = error.code;
        var errorMessage = error.message;
        console.log(error.code)
        console.log(error.message)
      })
    },
    MakeUser: function(user) {
        var self = this
          console.log("user: " + user.uid)
          console.log(this.Firstname)
        db.collection("users").add({
        Firstname: self.Firstname,
        Lastname: self.Lastname,
        Adress: self.Adress,
        City: self.City,
        Country: self.Country,
        Phone: self.Phone,
        UserID: user.uid,
        PhotoURL: "",
        Following: {},
        Friends: [],
        PendingFriendRequests: {},
        Occupation: self.Occupation
        })
        .then(function(docRef) {
            console.log("Document written with ID: ", docRef.id);
            self.$router.push({name: 'Dashboard'})
        })
        .catch(function(error) {
            console.error("Error adding document: ", error);
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.uk-form-icon {
    color: linear-gradient(45deg, #17ead9, #6078ea);
}
.mainTitle {
  color: #3498db;
  margin-top: 20px;
}
input, textarea {
  width: 80%;
  margin-left: 10%;
}
.js-upload {
  width: 10%;
  margin-left: 45%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}
.btnDanger {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
    margin-bottom: 10px;
}
.firstInput {
  margin-top: 50px;
}
</style>
