<template>
  <div id="SearchUsers">
    <p class="uk-text-center mainTitle">Find friends</p>
    <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: search"></span>
            <input id="tags" class="uk-input btnDefault" type="text" v-model="selected" placeholder="search a user..." @keyup="filteredUsers = [], searchFilter()" >
        </div>
        
    <div v-if="Profile" class="marginTop">
      <div v-if="Users && (selected === '' || selected === null)" v-for="usr in Users" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwoFollowing">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
        <div class="column colThreeFollowing"><button v-if="Profile.Friends.indexOf(usr.UserID) !== -1" class="uk-button" disabled>Connected</button>
              <button v-if="Profile.Friends.indexOf(usr.UserID) === -1 && Profile.PendingFriendRequests[usr.UserID] !== true" class="uk-button btnPrimary" 
              @click="CreateRequest(usr.UserID)">Add</button>
              <button v-if="Profile.Friends.indexOf(usr.UserID) === -1 && Profile.PendingFriendRequests[usr.UserID] === true" @click="CancelRequest(usr.UserID)"
              class="uk-button btnDanger">Cancel</button>
              <button v-if="Profile.Following[usr.UserID] !== true" class="uk-button btnPrimary2" 
              @click="Follow(usr.UserID)">Follow</button>
              <button v-if="Profile.Following[usr.UserID] === true" class="uk-button btnDefault" 
              @click="unFollow(usr.UserID)">Unfollow</button>
        </div>
      </div>
      <div v-if="selected !== null && selected !== ''  && filteredUsers" v-for="usr in filteredUsers" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwoFollowing">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
        <div class="column colThreeFollowing">
          <button v-if="Profile.Friends.indexOf(usr.UserID) !== -1" class="uk-button" disabled>Connected</button>
              <button v-if="Profile.Friends.indexOf(usr.UserID) === -1 && Profile.PendingFriendRequests[usr.UserID] !== true" class="uk-button btnPrimary" 
              @click="CreateRequest(usr.UserID)">Add</button>
              <button v-if="Profile.Friends.indexOf(usr.UserID) === -1 && Profile.PendingFriendRequests[usr.UserID] === true" @click="CancelRequest(usr.UserID)"
              class="uk-button btnDanger">Cancel</button>
              <button v-if="Profile.Following[usr.UserID] !== true" class="uk-button btnPrimary2" 
              @click="Follow(usr.UserID)">Follow</button>
              <button v-if="Profile.Following[usr.UserID] === true" class="uk-button btnDefault" 
              @click="unFollow(usr.UserID)">Unfollow</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'

export default {
  name: 'SearchFriends',
  data () {
    return {
      Users: [],
      User: null,
      Profile: null,
      selected: null,
      filteredUsers: [],
      UserID: null
    }
  },
  components: {
  },
  mounted(){
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.User = user
        self.GetUsers()
        self.GetUser(self.User.uid).then(function(result){
          self.Profile = result
        })
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
          if(self.User.uid === user.UserID){
              self.UserID = doc.id
          }
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    GetUsers() {
      var self = this
      db.collection("users")
      .onSnapshot(function(querySnapshot) {
        self.Users = []
        querySnapshot.forEach(function(doc) {
          var con = doc.data()
          self.Users.push(con)
        });
        })
    },
    getDate(day){
      var moment = this.moment(day).calendar()
      return moment
    },
    searchFilter() {
        console.log("filtered")
        var self = this
        var input = self.selected.toLowerCase()
        var Users = self.Users
        Users.forEach(function(element){
            var el = element.Firstname.toLowerCase() + element.Lastname.toLowerCase()
            var el2 = element.Firstname.toLowerCase() + " " + element.Lastname.toLowerCase()
            var el3 = element.Lastname.toLowerCase() + element.Firstname.toLowerCase()
            var el4 = element.Lastname.toLowerCase() + " " + element.Firstname.toLowerCase()
            var el5 = element.Occupation.toLowerCase()
            var el6 = element.Occupation.replace(/\s+/g, '').toLowerCase()
            if(el.indexOf(input) !== -1 || el2.indexOf(input) !== -1 || el3.indexOf(input) !== -1 
            || el4.indexOf(input) !== -1 || el5.indexOf(input) !== -1 || el6.indexOf(input) !== -1){
                self.filteredUsers.push(element)
            }
        })

    },
    Follow(param) {
      var self = this
      console.log("following: " + param)
      self.Profile.Following[param] = true
      db.collection("users").doc(self.UserID).update({
        "Following": self.Profile.Following
      })
      .then(function() {
        console.log("Now following: " + param);
        var targets = {}
        targets[param] = true
        db.collection("notifications").doc().set({
          AuthorID: self.User.uid,
          CreatedTimestamp: new Date(),
          Description: "New follower",
          SeenTimestamp: null,
          SourceID: self.User.uid,
          Status: null,
          Targets: targets,
          Type: "NewFollower"
        })
        .then(function() {
          console.log("Document successfully written!");
        })
      });
    },
    unFollow(param) {
      var self = this
      console.log("unfollowing: " + param)
      delete self.Profile.Following[param]
      db.collection("users").doc(self.UserID).update({
        "Following": self.Profile.Following
      })
      .then(function() {
        console.log("unfollowed: " + param);
      });
    },
    CreateRequest(param){
      var self = this
      var targets = {}
      targets[param] = true
      self.Profile.PendingFriendRequests[param] = true
      db.collection("users").doc(self.UserID).update({
        "PendingFriendRequests": self.Profile.PendingFriendRequests
      })
      .then(function() {
        console.log("Connection added: " + param);
        self.Follow(param)
        db.collection("notifications").doc().set({
          AuthorID: self.User.uid,
          CreatedTimestamp: new Date(),
          Description: "Connection Request",
          SeenTimestamp: null,
          SourceID: self.User.uid,
          Status: null,
          Targets: targets,
          Type: "FriendRequest"
        })
        .then(function() {
          console.log("Document successfully written!");
        })
        .catch(function(error) {
          console.error("Error writing document: ", error);
        });
      });
    },
    CancelRequest(param){
      var self = this
      db.collection("notifications")
      .where("AuthorID", "==", self.User.uid)
      .where("Targets." + param, "==", true)
      .where("Type", "==", "FriendRequest")
      .onSnapshot(function(querySnapshot) {
        self.notifications = []
        querySnapshot.forEach(function(doc) {
          var con = doc.data()
          db.collection("notifications").doc(doc.id).delete().then(function() {
            console.log("Document successfully deleted!");
            delete self.Profile.PendingFriendRequests[param]
            db.collection("users").doc(self.UserID).update({
                "PendingFriendRequests": self.Profile.PendingFriendRequests
            })
            .then(function() {
                console.log("Connection added: " + param);
            });
          }).catch(function(error) {
            console.error("Error removing document: ", error);
          });
        });
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.mainTitle {
  color: #3498db;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
}
.btnPrimary {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnPrimary2 {
    color: white;
    background: -moz-linear-gradient(45deg, #e74c3c, #3498db);
    background: -webkit-linear-gradient(45deg, #e74c3c, #3498db);
}
.btnDanger {
    color: white;
    background: #e74c3c;
    line-height: 20px;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#btnFriends, #btnFollowing, #btnFollowers {
  margin-top: 50px;
    width: 32%;
    height: 70px;
}
.btnPrimary > .uk-badge {
  background: white;
  color: #3498db;
}
.btnDefault > .uk-badge {
    background: #3498db;
  color: white;
}
#btnFriends {
    margin-left: 5px;
}
.inline > button {
  margin-top: 17px;
  margin-right: 5px;
}
.line {
  display: block;
  margin: 0;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.lastMessage {
  margin-top: 3px;
  float: left;
  width: 100%;
}
.conTitle {
  font-size: 20pt;
  font-weight: 600;
}
.lastTime {
  float: right;
}
.bottomMargin {
  margin-bottom: 50px;
}
img {
  float: left;
}
.alignRight {
  margin-left: 70px;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row {
  height: 100px;
  border-bottom: #3498db solid 1px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.colOne {
  width: 15%;
  padding-top: 10px;
}
.colTwo {
  width: 55%;
}
.colTwoFollowing {
  width: 50%;
}
.colTwoFollower {
  width: 75%;
}
.colThreeFollowing {
  width: 25%;
}
.colThree {
  width: 20%;
}
.btnAdd {
  width: 50%;
  margin-left: 25%;
}
input {
  width: 80vw;
  margin-left: 10vw;
}
.marginTop {
  margin-top: 20px;
}
</style>

