<template>
  <div id="UserProfile">
    <p class="uk-text-center mainTitle">Profile</p>
    <router-link v-if="sourceType && sourceType === 'event'" :to="{ name: 'Event', params: { id: sourceID }}" class="menuIcon2">
      <span class="uk-margin-small-right" uk-icon="icon: comments; ratio: 1"></span>
      Back to the event
    </router-link>
    <router-link v-if="sourceType && sourceType === 'conversation'" :to="{ name: 'Conversation', params: { id: sourceID }}" class="menuIcon2">
      <span class="uk-margin-small-right" uk-icon="icon: comments; ratio: 1"></span>
      Back to the conversation
    </router-link>
  <div class="uk-width-1-1" v-if="Profile">
    <div class="uk-cover-container uk-height-medium">
      <img v-if="Profile.PhotoURL !== ''" v-bind:src="Profile.PhotoURL" alt="">
      <img v-if="Profile.PhotoURL === ''" src="../assets/Files/user.png" alt="">
    </div>
    <div class="headBtn">
    <button v-if="AuthUser.UserID !== ProfileUser && AuthUser.Friends.indexOf(Profile.UserID) !== -1" class="uk-button uk-button-default" disabled>Already connected</button>
    <button v-if="AuthUser.UserID !== ProfileUser && AuthUser.Friends.indexOf(Profile.UserID) === -1 && AuthUser.PendingFriendRequests[ProfileUser] !== true" class="uk-button uk-button-primary" 
    @click="CreateRequest()">Add</button>
    <button v-if="AuthUser.UserID !== ProfileUser && AuthUser.Friends.indexOf(Profile.UserID) === -1 && AuthUser.PendingFriendRequests[ProfileUser] === true"
    @click="CancelRequest()" class="uk-button uk-button-danger">Cancel Request</button>
    <button v-if="AuthUser.UserID !== ProfileUser && AuthUser.Following[ProfileUser] !== true" class="uk-button uk-button-secondary" 
    @click="Follow()">Follow</button>
    <button v-if="AuthUser.UserID !== ProfileUser && AuthUser.Following[ProfileUser] === true" class="uk-button uk-button-default" 
    @click="unFollow()">Unfollow</button>
    </div>
    <p class="uk-text-center">Name:</p>
    <h1 class="uk-heading-primary uk-text-center subtitle"><span>{{ Profile.Firstname}} {{ Profile.Lastname }}</span></h1>
        <div class="row2">
      <div class="column columnOne">
    <p class="uk-text-center"><strong>Occupation:</strong></p>
    <p class="uk-text-center noMarginText">{{ Profile.Occupation }}</p>
    <p class="uk-text-center"><strong>Local time:</strong></p>
    <p class="uk-text-center noMarginText">{{ timeZone }}</p>
      </div>
      <div class="column">
    <p class="uk-text-center"><strong>Adress:</strong></p>
    <p class="uk-text-center noMarginText">{{ Profile.Adress }}, {{ Profile.City }}, {{ Profile.Country }}</p>
    <p class="uk-text-center"><strong>Phone:</strong></p>
    <p class="uk-text-center noMarginText">{{ Profile.Phone }}</p>
      </div>
        </div>
  </div>

    <button id="btnFriends" class="uk-flex-middle uk-button btnPrimary" @click="filter='Friends', checkFilter()">Friends 
      <span class="uk-badge">{{ Friends.length }}</span></button>
    <button id="btnFollowing" class="uk-flex-middle uk-button btnDefault" @click="filter='Following', checkFilter()">Following 
      <span class="uk-badge">{{ Following.length }}</span></button>
    <button id="btnFollowers" class="uk-flex-middle uk-button btnDefault" @click="filter='Followers', checkFilter()">Followers 
      <span class="uk-badge">{{ Followers.length }}</span></button>
    <div v-if="Profile && filter==='Friends'">
      <div v-for="usr in Friends" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwoFollowing">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
      </div>
    </div>
    <div v-if="Profile && filter==='Following'">
      <div v-for="usr in Following" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwoFollowing">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
      </div>
    </div>
    <div v-if="Profile && filter==='Followers'">
      <div v-for="usr in Followers" :key="usr.UserID" class="row">
        <div class="column colOne">
          <img v-if="usr.PhotoURL" class="uk-border-circle" width="60" height="60" v-bind:src="usr.PhotoURL">
        </div>
        <div class="column colTwoFollowing">
            <router-link :to="{ name: 'UserProfile', params: { id: usr.UserID, type: 'Friends', source: 'Friends'  }}" class="conTitle">
              {{ usr.Firstname }} {{ usr.Lastname }}
            </router-link><br>
              <p class="lastMessage">{{ usr.Occupation }}</p><br>
              <p class="lastMessage">{{ usr.City }}, {{ usr.Country }}</p>
        </div>
      </div>
    </div>

<div class="main-wrapper">
  <div class="blog-post-wrapper" v-for="post in orderedPosts" :key="post.Id">
    <div class="blog-post"  v-if="post">
      <figure class="blog-post--image" v-if="post.PhotoURL">
        <img v-bind:src="post.PhotoURL" alt=""/>
      </figure>
      <div class="blog-post--description">
        <h3>{{ post.Title }}<br><span v-bind:uk-tooltip="moment(post.CreatedTimestamp).format('MMMM Do YYYY, HH[h]mm')">{{ moment(post.CreatedTimestamp).fromNow() }}</span></h3>
        <h4>Written by {{ post.Author.Firstname }} {{ post.Author.Lastname }}</h4>
        <p v-html="urlify(post.Content)"></p>
      </div>
      <div class="blog-post--tools uk-text-center">
        <router-link :key="post.Id" :to="{ name: 'Post', params: { id: post.Id }}">Read more</router-link>
      </div>
    </div>
  </div>
    <button v-if="PostsCounter > 0" @click="PostsCount += 10" uk-text-center >Load more messages ({{ PostsCounter }} left)</button>
</div>
</div>
</template>

<script>
import firebase from 'firebase'
import $ from 'jquery'
import db from './firebaseInit'
import moment from 'moment'
import axios from 'axios'

export default {
  name: 'UserProfile',
  data () {
    return {
      AuthUser: null,
      ProfileUser: null,
      Profile: null,
      sourceType: null,
      sourceID: null,
      Posts: [],
      PostsCount: 10,
      Following: [],
      Followers: [],
      Friends: [],
      filter: 'Friends',
      timeZone: null
    }
  },
  components: {
  },
  computed: {
  orderedPosts: function () {
    if(this.Posts !== undefined){
      var crop = 0
      if(this.Posts.length > this.PostsCount) {
        crop = this.PostsCount
      } else {
        crop = this.Posts.length
      }
      return this._.orderBy(this.Posts, ['CreatedTimestamp'], ['desc']).slice(0, crop)
    }
  },
  PostsCounter: function() {
    var count = 0
    if(this.Posts !== undefined && this.Posts !== undefined){
      var count = this.Posts.length - this.PostsCount
    }
    return count
  },
  },
  created() {
    var self = this
    //Check if user is logged in
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        self.AuthUser = user
        self.ProfileUser = self.$route.params.id
        self.sourceType = self.$route.params.type
        self.sourceID = self.$route.params.source
        self.GetUser(user.uid).then(function(result){
          self.AuthUser = result
        })
        self.GetUser(self.ProfileUser).then(function(result){
          self.Profile = result
          self.getUserTime()
          result.Friends.forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Friends.push(result)
            })
          })
          Object.keys(result.Following).forEach(function(element){
            self.GetUser(element).then(function(result){
              self.Following.push(result)
            })
          })
          self.getFollowers()
        })
        self.GetPosts()
      } else {
        self.$router.push({name: 'Frontpage'})
      }
    });
  },
  beforeRouteLeave: (to, from, next) => {
    $( "#offcanvas-nav-primary" ).trigger( "click" );
    next()
  },
  methods: {
  moment: function (day) {
    return moment(day);
  },
    GetUser(param) {
      var self = this
      var user = null
      return db.collection("users").where("UserID", "==", param)
      .get()
      .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          user = doc.data()
          user.Id = doc.id
        })
        return user
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
    },
    Logout: function() {
      var self = this
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
      console.log('Logged out')
      self.$router.push({name: 'Frontpage'})
    }).catch(function(error) {
      console.log(error)
    });
    },
    GetPosts() {
      var self = this
      db.collection("posts")
      .where("AuthorID", "==", self.ProfileUser)
      .onSnapshot(function(querySnapshot) {
        self.Posts = []
        querySnapshot.forEach(function(doc) {
            var post = doc.data()
            post.Id = doc.id
            if(!post.DeletedTimestamp){
            self.GetUser(post.AuthorID).then(function(result){
                post.Author = result
                self.Posts.push(post)
            })
            }
        });
        })
    },
    GoToPage (page) {
      this.$router.push({name: page})
    },
    urlify(text) {
      var self = this
    var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
    //var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url,b,c) {
        var url2 = (c == 'www.') ?  'http://' +url : url;
        return '<a class="linkPreview" href="' +url2+ '" target="_blank">' + url + '</a>';
    }) 
    },
    getFollowers(){
      var self = this
      db.collection("users")
      .where("Following." + self.ProfileUser, "==", true)
      .onSnapshot(function(querySnapshot) {
        self.Followers = []
        querySnapshot.forEach(function(doc) {
            self.Followers.push(doc.data())
        });
        })
    },
    checkFilter() {
        $("#btnFriends").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnFollowing").removeClass('btnPrimary').addClass('btnDefault')
        $("#btnFollowers").removeClass('btnPrimary').addClass('btnDefault')
        if(this.filter === "Friends"){
            $("#btnFriends").removeClass('btnDefault').addClass('btnPrimary')
        } else if(this.filter === "Following") {
            $("#btnFollowing").removeClass('btnDefault').addClass('btnPrimary')
        } else if (this.filter === 'Followers') {
            $("#btnFollowers").removeClass('btnDefault').addClass('btnPrimary')
        }
    },
    CreateRequest(){
      var self = this
      var targets = {}
      targets[self.ProfileUser] = true
      self.AuthUser.PendingFriendRequests[self.ProfileUser] = true
      db.collection("users").doc(self.AuthUser.Id).update({
        "PendingFriendRequests": self.AuthUser.PendingFriendRequests
      })
      .then(function() {
        console.log("Connection added: " + self.ProfileUser);
        self.Follow(self.ProfileUser)
        db.collection("notifications").doc().set({
          AuthorID: self.AuthUser.UserID,
          CreatedTimestamp: new Date(),
          Description: "Connection Request",
          SeenTimestamp: null,
          SourceID: self.AuthUser.UserID,
          Status: null,
          Targets: targets,
          Type: "FriendRequest"
        })
        .then(function() {
          console.log("Document successfully written!");
        })
        .catch(function(error) {
          console.error("Error writing document: ", error);
        });
      });
    },
    Follow() {
      var self = this
      console.log("following: " + self.ProfileUser)
      self.AuthUser.Following[self.ProfileUser] = true
      db.collection("users").doc(self.AuthUser.Id).update({
        "Following": self.AuthUser.Following
      })
      .then(function() {
        console.log("Now following: " + self.ProfileUser);
      });
    },
    unFollow() {
      var self = this
      console.log("unfollowing: " + self.ProfileUser)
      delete self.AuthUser.Following[self.ProfileUser]
      db.collection("users").doc(self.AuthUser.Id).update({
        "Following": self.AuthUser.Following
      })
      .then(function() {
        console.log("unfollowed: " + self.ProfileUser);
      });
    },
    CancelRequest(){
      var self = this
      db.collection("notifications")
      .where("AuthorID", "==", self.AuthUser.UserID)
      .where("Targets." + self.ProfileUser, "==", true)
      .where("Type", "==", "FriendRequest")
      .onSnapshot(function(querySnapshot) {
        self.notifications = []
        querySnapshot.forEach(function(doc) {
          var con = doc.data()
          db.collection("notifications").doc(doc.id).delete().then(function() {
            console.log("Document successfully deleted!");
            delete self.AuthUser.PendingFriendRequests[self.ProfileUser]
            db.collection("users").doc(self.AuthUser.Id).update({
                "PendingFriendRequests": self.AuthUser.PendingFriendRequests
            })
            .then(function() {
                console.log("Connection added: " + self.ProfileUser);
            });
          }).catch(function(error) {
            console.error("Error removing document: ", error);
          });
        });
        })
    },
    getUserTime(){ 
      var self = this
      axios({
          method: 'post',
          url: "https://maps.googleapis.com/maps/api/geocode/json?address=" 
          + self.Profile.City + "," + self.Profile.Country 
          + "&key=AIzaSyA2raO9oARTGzarTiQc7kmN0Xt5BrLTrxU",
        }).then(result => {
      axios({
          method: 'post',
          url: "https://maps.googleapis.com/maps/api/timezone/json?location=" 
          + result.data.results[0].geometry.location.lat + "," + result.data.results[0].geometry.location.lng 
          + "&timestamp=1458000000"
          + "&key=AIzaSyA2raO9oARTGzarTiQc7kmN0Xt5BrLTrxU",
        }).then(result => {
          var offset = parseInt(result.data.rawOffset) / 3600
          var date = new Date()
          var localOffset = date.getTimezoneOffset() / 60
          self.timeZone = moment().add(localOffset, 'hours').add(offset +1, 'hours').calendar()
        }, error => {
          console.error(error)
        })
        }, error => {
          console.error(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.menuIcon2 {
  position: fixed;
  top: 2%; right: 5%;
  color: #6078ea;
  z-index: 1;
}
body {
  background-color: #ffffff;
  text-align: center;
}

.main-wrapper {
  margin: 0;
  position: relative;
}

.bg {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
  
  .bg-image {
    position: absolute;
    width: 110%;
    margin-top: -5%;
    margin-left: -5%;
    height: 110%;
  background-size: cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
  }
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  
  span {
    font-weight: 400;
    padding-left: 8px;
    color: #9f9e9f;
    font-style: italic;
    font-size: 18px;
  }
}

p {
  color: #9f9e9f;
  font-size: 14px;
  line-height: 1.6em;
}
.bg {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
  
  .bg-image {
    position: absolute;
    width: 110%;
    margin-top: -5%;
    margin-left: -5%;
    height: 110%;
  background-size: cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
  }
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  
  span {
    font-weight: 400;
    padding-left: 8px;
    color: #9f9e9f;
    font-style: italic;
    font-size: 18px;
  }
}

p {
  color: #9f9e9f;
  font-size: 14px;
  line-height: 1.6em;
}

.blog-post-wrapper {
  position: relative;
  z-index: 0;
  padding: 50px 0;
  margin-left: 5%;
  width: 90%;
  float: left;
}

.blog-post {
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.3);
  -webkit-transform: scale(1);
  &--image {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%;
    max-height: 200px;
  }
  &--image > img {
  object-fit: cover;
    position: relative;
    margin: 0;
    width: 100%;
    height: 200px;
  }
  &--description {
    text-align: left;
    position: relative;
    z-index: 4;
    padding: 0 80px 30px 40px;
    margin-bottom: 50px;
    > h4 {
      margin: 0;
    }
    > h3 {
      margin: 0;
      color: #3498db;
    }
  }
  &--tools {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    height: 40px;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  & > a {
  color: white !important;
  text-align: center;
  margin-bottom: -10px;
  font-size: 16pt;
  line-height: 2px;
  }
  }
}

.mainTitle {
  color: #3498db;
  margin-top: 30px;
}
.subtitle {
  background-image: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 30pt;
  margin-bottom: 20px;;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.columnOne {
  border-right: #3498db solid 1px;
  padding-right: 2px;
}
.noMarginText {
  margin-top: 0;
}
.smallText {
  font-size: 12px;
}
.QRCode {
  margin-left: 132px;
}
select, input {
  width: 80%;
  margin-left: 10%;
}
.uk-button {
    border-radius: 8px;
    height: 30px;
    line-height: 25px;
    margin-top: 10px;
}
.btnPrimary {
    color: white;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
}
.btnDefault {
    color: #3498db;
    background-color: transparent;
    background: -moz-linear-gradient(45deg, #3498db, #e74c3c);
    background: -webkit-linear-gradient(45deg, #3498db, #e74c3c);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow:
        inset 0 0 12px #fff, /* Inset shadow */
        inset -999px 0 0 #fff; /* The background color */
        margin-bottom: 5px;
}
.btnEdit {
    width: 60%;
    margin-left: 20%;
}
.js-upload {
  width: 90vw;
  text-align: center;
  margin-left: 5vw;
}
.lastMessage {
  margin-top: 3px;
  float: left;
  width: 100%;
}
.conTitle {
  font-size: 20pt;
  font-weight: 600;
}
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 0 2px 0 2px;
    align-content: center;
}
.row2 {
  height: 100px;
  margin-bottom: 50px;
}
.row2:after {
    content: "";
    display: table;
    clear: both;
}
.row {
  height: 100px;
  border-bottom: #3498db solid 1px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.colOne {
  width: 15%;
  padding-top: 10px;
}
.colTwo {
  width: 55%;
}
#btnFriends, #btnFollowing, #btnFollowers {
  margin-top: 50px;
    width: 32%;
    height: 70px;
}
.btnPrimary > .uk-badge {
  background: white;
  color: #3498db;
}
.btnDefault > .uk-badge {
    background: #3498db;
  color: white;
}
#btnFriends {
    margin-left: 5px;
}
.headBtn > button {
  width: 50%;
  margin-left: 25%;
}
</style>
