<template>
  <div id="app">
    <desktop-menu-component class="DesktopMenu"></desktop-menu-component>
    <menu-component class="offCanvasMenu"></menu-component>
    <router-view class="mainView" :key="$route.fullPath"> </router-view>
  </div>
</template>

<script>

import DesktopMenuComponent from './Components/DesktopMenuComponent.vue'
import MenuComponent from './Components/MenuComponent.vue'

export default {
  name: 'App',
  created() {
  },
  components: {
    DesktopMenuComponent,
    MenuComponent
  },
}

</script>
<style lang="scss">
@import '../static/css/uikit.min.css';
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

* {
        margin: 0;
        padding: 0;
        border: 0;
    }
body {
  font-family: 'Source Sans Pro', sans-serif !important;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}
.DesktopMenu {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.mainView {
    margin-left: 300px;
}
.offCanvasMenu {
  display: none;
}
@media screen and (max-width: 1250px) {
    .DesktopMenu {
      display: none;
    }
    .mainView {
      margin-left: 0;
    }
    .offCanvasMenu {
      display: initial;
    }
}
</style>
